<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col w  dk b-r bg-auto second_nav_gray">
    <div class="panel no_border" draggable="true" style="position:fixed">
        <div class="list-group" ng-if="true">
          <li ui-sref="app.emenu.airtitle" class="list-group-item second_nav_body">
            <a>空气质量预测分析</a>
          </li>
        </div>
        <div class="list-group" ng-if="true">
          <li ui-sref="app.emenu.waterEnvironmentBI" class="list-group-item second_nav_body">
            <a>水环境预测分析</a>
          </li>
        </div>
        <!-- <div class="list-group" ng-if="true">
          <li ui-sref="app.emenu.watertitle" class="list-group-item second_nav_body">
            <a>水环境预测分析fang</a>
          </li>
        </div> -->
        <!-- <div class="list-group" ng-if="true">
          <li ui-sref="app.emenu.watertest" class="list-group-item second_nav_body">
            <a>水环境预测分析li</a>
          </li>
        </div> -->
    </div>
  </div>
    <div class="col">
       <div ui-view ></div>
    </div>
</div>