<div class="wrapper lter b-b bg-white">
  <div class="subview3_title">水环境分析预测BI</div>
</div>
<div class="col-md-12 " >
  <div class="panel panel-primary" style="margin-top: 20px;">
    <div class="panel-heading">
      水质量分析
      <spanclass="glyphicon glyphicon-question-sign pull-right"></span>
    </div>
    <div class="wrapper ">
      <div class="row" style="margin-top: 20px;">
        <div class="row" >
          <div class="col-md-7">
            <div class="panel panel-primary" style="width:850px;height: 680px">
              <div class="panel-body">
                <div id="map_wMap"></div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-primary" style="width:604px;height: 680px">
              <div class="panel-body">
                <h4>水质量分析</h4>
                <div>
                  <h5 style="padding-top: 0px">(更新时间:&nbsp 2015年12月11日6时</h5>
                </div>
                <div>
                  <button class="btn btn-warning" ng-click="btn_waterEnvironmentAnalysisAllList()">
                    &nbsp点击列出超标水质监测点
                    <span class="badge"></button>
                  </div>

                  <hr>
                  <!--<div ng-show="tableStatus.allWaterQualityFailArr">
                  <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                    <tr>
                      <th style="width:20%">监测点</th>
                      <th style="width:20%">溶解氧</th>
                      <th style="width:15%">KMnO4</th>
                      <th style="width:15%">氨氮</th>
                      <th style="width:15%">总磷</th>
                    </tr>
                  </table>
                </div>
                <div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityFailArr">
                  <table class="table table-hover table-responsive" style="font-size:14px">
                    <tr ng-repeat="waterQualityOne in waterQualityMarkerList2">
                      <td style="width:20%">{{waterQualityOne.monitor}}</td>
                      <td style="width:20%">
                        <span>{{waterQualityOne.index_o2.toFixed(2)}}</span>
                      </td>
                      <td style="width:15%">
                        <span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span>
                      </td>
                      <td style="width:15%">
                        <span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span>
                      </td>
                      <td style="width:15%">
                        <span>{{waterQualityOne.index_p.toFixed(2)}}</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div ng-show="tableStatus.allWaterQualityArr">
                  <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                    <tr>
                      <th style="width:20%">监测点</th>
                      <th style="width:20%">溶解氧</th>
                      <th style="width:15%">KMnO4</th>
                      <th style="width:15%">氨氮</th>
                      <th style="width:15%">总磷</th>
                    </tr>
                  </table>
                </div>
                <div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityArr">
                  <table class="table table-hover table-responsive" style="font-size:14px">
                    <tr ng-repeat="waterQualityOne in waterQualityMarkerList">
                      <td style="width:20%">{{waterQualityOne.monitor}}</td>
                      <td style="width:20%">
                        <span>{{waterQualityOne.index_o2.toFixed(2)}}</span>
                      </td>
                      <td style="width:15%">
                        <span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span>
                      </td>
                      <td style="width:15%">
                        <span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span>
                      </td>
                      <td style="width:15%">
                        <span>{{waterQualityOne.index_p.toFixed(2)}}</span>
                      </td>
                    </tr>
                  </table>
                </div>
                -->
                <div  style="font-size:16px">
                  <div class="panel panel-primary">
                    <div class="panel-body" id="source_analysis">
                      <h4>附近污染源</h4>
                      <hr>
                      <div>
                        <table class="table table-hover table-responsive"  style="font-size:14px;margin-bottom:0px">
                          <tr>
                            <th style="width:30%">企业</th>
                            <th style="width:25%">
                              排放量
                              <br/>
                              (吨)
                            </th>
                            <th style="width:15%">
                              COD
                              <br/>
                              (mg/L)
                            </th>
                            <th style="width:15%">
                              氨氮
                              <br/>
                              (mg/L)
                            </th>
                            <th style="width:15%">
                              总磷
                              <br/>
                              (mg/L)
                            </th>
                          </tr>
                        </table>
                      </div>
                      <div style="overflow: auto; overflow-x:hidden;height:170px">
                        <table class="table table-hover table-responsive"  style="font-size:14px">
                          <tr >
                            <td style="width:25%">太仓市城区污水处理厂</td>
                            <td style="width:25%">
                              <span>59859.69</span>
                            </td>
                            <td style="width:17%">
                              <span>38.10</span>
                            </td>
                            <td style="width:17%">
                              <span>0.39</span>
                            </td>
                            <td style="width:16%">
                              <span>0.08</span>
                            </td>
                          </tr>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-block btn-success" ng-click="btn_waterEnvironmentAllList()" ng-show="tableStatus.allWaterQualityFailArrNav" >列出所有监测点</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper ">
      <div class="panel panel-primary" ng-show="tableStatus.predictionZone">
        <div class="panel panel-body">
          <div class="row">
            <div class="col-md-6" style="font-size:13px">
              <h4>水质指标情况：</h4>
              <div class="col-md-12" style="right: 20px;margin-top:20px">
                <form class="form-horizontal" role="form">
                  <label for="select_predictionMonitor" class="col-md-2 control-label">监测点</label>

                  <div class="col-md-10">
                    <div class="form-control" style="width: 150px">第三水厂</div>
                  </div>
                </form>
              </div>
              <div class="col-md-12"  style="margin-top:10px">
                <h5 align="right" style="padding-top: 0px">（单位:mg/L）</h5>
                <table class="table">
                  <tr>
                    <td></td>
                    <td>溶解氧</td>
                    <td>高锰酸钾</td>
                    <td>氨氮</td>
                    <td>总磷</td>
                  </tr>
                  <tr>
                    <td>原值</td>
                    <td>8.14</td>
                    <td>1.75</td>
                    <td>2.3</td>
                    <td>0.07</td>
                  </tr>
                  <tr>
                    <td>状态</td>
                    <td>
                      <span ng-class="getLabelCss(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">正常</span>
                    </td>
                    <td>
                      <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">正常</span>
                    </td>
                    <td>
                      <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">问题</span>
                    </td>
                    <td>
                      <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)">正常</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-12 row">
                <!--<highchart  id="waterrelation" config="waterrelation" style="width:400px;heigh:300px"></highchart>
              -->
              <div class="col-md-9" style="margin-top:10px">
                <div id="relation_chart" style="width:400px;height: 300px"></div>
              </div>
              <!-- <div class="col-md-3" style="border:1px solid grey;font-size:13px;line-height:30px;margin-top:80px">
              <div class="radio" ng-repeat="radioPredictionOne in radioPredictionList">
                <label>
                  <input type="radio" name="radio_prediction" value="COD" ng-model="radioPredictionListSelected" ng-value="radioPredictionOne" ng-click="radioPredicitonChange(radioPredictionOne)">{{radioPredictionOne}}</label>
              </div>
            </div>
            -->
          </div>
          <!-- <div class="col-md-12">
          <h5>形状的大小代表该该指标的量值大小</h5>
          <h5>连线的粗细代表该该指标的影响程度</h5>
        </div>
        -->
      </div>
      <div class="col-md-6" id="analysis_source">
        <div class="col-md-12">
          <h4>污染源企业设定：</h4>
          <div class="col-md-3" style="margin-top: 15px">
            <button class="btn btn-sm btn-success" ng-click="button_recommend()">
              <span class="glyphicon glyphicon-hand-right"></span>
              &nbsp模型设计
            </button>
          </div>
          <div class="col-md-3"  style="margin-top: 15px">
            <button class="btn btn-sm btn-success" ng-click="source_predict()" data-toggle="modal"  data-target="#Modal_Predict">
              <span class="glyphicon glyphicon-play"></span>
              &nbsp模型验证
            </button>
          </div>
        </div>
        <div class="col-md-12">
          <hr></div>
        <div class="col-md-12" style="height:280px;overflow: auto;overflow-x:hidden;font-size:14px;margin-top: 15px">

          <form class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <label class="col-sm-12" style="left:5px">太仓市城区污水处理厂</label>
            </div>
          </form>
        </div>
        <hr></div>
      <div class="col-md-12" style="margin-top:15px">
        <div class="col-md-offset-9 col-md-3">
          <button class="btn btn-sm btn-primary btn-block" ng-click="button_reset()">复位</button>
        </div>

      </div>
      <div class="col-md-12">
        <hr></div>
      <div class="col-md-12">
        <h4>污水处理费预估(根据废水排放方案确定)：</h4>
        <div class="col-md-3" style="margin-top: 15px">
          <button class="btn btn-sm btn-success" ng-click="feed_calculate()">
            <span class="glyphicon glyphicon-hand-right"></span>
            处理费估算
          </button>
        </div>
        <div class="col-md-9"  style="margin-top: 15px">
          <h4>总处理费用预估为元</h4>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12">
    <div class="col-md-12" style="margin-top:30px">
      <highchart config="historyCompareChart" style="width:950px;height:400px"></highchart>
    </div>
  </div>
  -->
  <!-- <div>{{compareData.waterQualityData}}</div>
<div>{{compareData.wasteWaterData}}</div>
-->
</div>
</div>
</div>
</div>

<!--协鑫码头排放情况-->

<div class="wrapper ">
<div class="details-content">

<div class="panel panel-primary" style="margin-top: 10px;">
<div class="panel-heading">
水环境质量预测分析
<span class="glyphicon glyphicon-question-sign pull-right"></span>
</div>

<div class="panel-body">
<div class="row">
  <button ng-repeat="bttn in buttonMap2" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click(bttn)">{{bttn.label}}</button>
  <!--第一个-->
  <div ng-show="tableStatus.allWater1">
    <div class="col-md-8 chart-panel">
      <div class="row">
        <div class="col-md-3">
          <highchart  config="chart11"></highchart>
        </div>

        <div class="col-md-3">
          <highchart style="height:400px;" config="chart12"></highchart>
        </div>

        <div class="col-md-3">
          <highchart style="height:400px;" config="chart13"></highchart>
        </div>

        <div class="col-md-3">
          <highchart style="height:400px;" config="chart14"></highchart>
        </div>

        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th></th>
              <th colspan="2">溶解氧(mg/L)</th>
              <th colspan="2">高锰酸钾(mg/L)</th>
              <th colspan="2">氨氮(mg/L)</th>
              <th colspan="2">总磷(mg/L)</th>
            </tr>
            <tr>
              <td></td>
              <td>原值</td>
              <td>预测未来值</td>
              <td>原值</td>
              <td>预测未来值</td>
              <td>原值</td>
              <td>预测未来值</td>
              <td>原值</td>
              <td>预测未来值</td>
            </tr>

            <tr>
              <td>值</td>
              <td>5</td>
              <td>
                {{(selectedRange*0.03*0.05+1+selectedRange1*0.003+selectedRange2*0.002).toFixed(2)}}
              </td>
              <td>12</td>
              <td>{{(selectedRange*0.03*0.5+8).toFixed(2)}}</td>
              <td>2.5</td>
              <td>
                {{(selectedRange*0.03*0.05+0.6+selectedRange1*0.005+selectedRange2*0.002).toFixed(2)}}
              </td>
              <td>0.4</td>
              <td>
                {{(selectedRange*0.0003*0.05+0.12+selectedRange1*0.0005+selectedRange2*0.0002).toFixed(2)}}
              </td>
            </tr>
            <tr>
              <td>状态</td>
              <td>
                <span ng-class="getLabelCss(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">
                  {{getChineseStatusView(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusDesc(predict_waterquality.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">
                  {{getChineseStatusView(getStatusDesc(predict_waterquality.index_o2,waterQualityO2Scan.scan,'溶解氧').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">
                  {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">
                  {{getChineseStatusView(getStatusAsc(predict_waterquality.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">
                  {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">
                  {{getChineseStatusView(getStatusAsc(predict_waterquality.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)">
                  {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)}}
                </span>
              </td>
              <td>
                <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_p,waterQualityPScan.scan,'总磷').status)">
                  {{getChineseStatusView(getStatusAsc(predict_waterquality.index_p,waterQualityPScan.scan,'总磷').status)}}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4 desc-content">
      <div class="ioc-panel-desc">
        <p class="ioc-panel-desc-title">
          <img src="/images/common/data_details.png"/>
        </p>
      </div>
      <div >
        <h4>太仓市协鑫码头水质主要受玖龙纸业和港城组团污水处理厂两个工业废水排放场影响</h4>
      </div>
      <p class="fill-margin"></p>
      <div class="ioc-panel-desc">
        <p class="ioc-panel-desc-title">
          <img src="/images/common/ioc-index-mean.png"/>
        </p>
        <p class="ioc-panel-desc-body">
          可手动调节 <strong>工厂废水排放量</strong>
          观察对应各个水质污染物污染情况
        </p>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p >玖龙纸业</p>
        </div>
        <div class="col-md-7">
          <div class="progress-box">
            <div class="percentage-cur">
              <span class="num">{{selectedRange}}.00%</span>
              <span></span>
            </div>
            <div class="progress-bar progress-bar-slider">
              <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange" >
              <div class="inner" ng-style="{ width: (selectedRange) + '%'   }" ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="handler-title">江城有限公司</p>
        </div>
        <div class="col-md-7">
          <div class="progress-box">
            <div class="percentage-cur">
              <span class="num">{{ selectedRange1}}.00%</span>
            </div>
            <div class="progress-bar progress-bar-slider">
              <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange1">
              <div class="inner" ng-style="{ width: (selectedRange1) + '%'   }" ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="handler-title">岳王污水处理厂</p>
        </div>
        <div class="col-md-7">
          <div class="progress-box">
            <div class="percentage-cur">
              <span class="num">{{ selectedRange2}}.00%</span>
            </div>
            <div class="progress-bar progress-bar-slider">
              <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange2">
              <div class="inner" ng-style="{ width: (selectedRange2) + '%'  }" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--第三水厂排放情况-->
<div ng-show="tableStatus.allWater2">
  <div class="col-md-8 chart-panel">
    <div class="row">

      <div class="col-md-3">
        <highchart  config="chart21"></highchart>
      </div>

      <div class="col-md-3">
        <highchart style="height:400px;" config="chart22"></highchart>
      </div>

      <div class="col-md-3">
        <highchart style="height:400px;" config="chart23"></highchart>
      </div>

      <div class="col-md-3">
        <highchart style="height:400px;" config="chart24"></highchart>
      </div>
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <th></th>
            <th colspan="2">溶解氧(mg/L)</th>
            <th colspan="2">高锰酸钾(mg/L)</th>
            <th colspan="2">氨氮(mg/L)</th>
            <th colspan="2">总磷(mg/L)</th>
          </tr>
          <tr>
            <td></td>
            <td>原值</td>
            <td>预测未来值</td>
            <td>原值</td>
            <td>预测未来值</td>
            <td>原值</td>
            <td>预测未来值</td>
            <td>原值</td>
            <td>预测未来值</td>
          </tr>
          <tr>
            <td>值</td>
            <td>6</td>
            <td>
              {{(selectedRange4*0.03*0.5+1+selectedRange3*0.05).toFixed(2)}}
            </td>
            <td>16</td>
            <td>{{(selectedRange3*0.03*0.5+11).toFixed(2)}}</td>
            <td>1.5</td>
            <td>
              {{(selectedRange4*0.03*0.5+1.3+selectedRange3*0.05).toFixed(2)}}
            </td>
            <td>0.6</td>
            <td>
              {{(selectedRange4*0.03*0.5+0.3+selectedRange3*0.05).toFixed(2)}}
            </td>
          </tr>
          <tr>
            <td>状态</td>
            <td>
              <span ng-class="getLabelCss(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">
                {{getChineseStatusView(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusDesc(predict_waterquality.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">
                {{getChineseStatusView(getStatusDesc(predict_waterquality.index_o2,waterQualityO2Scan.scan,'溶解氧').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">
                {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">
                {{getChineseStatusView(getStatusAsc(predict_waterquality.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">
                {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">
                {{getChineseStatusView(getStatusAsc(predict_waterquality.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)">
                {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_p,waterQualityPScan.scan,'总磷').status)">
                {{getChineseStatusView(getStatusAsc(predict_waterquality.index_p,waterQualityPScan.scan,'总磷').status)}}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 desc-content">
    <div class="ioc-panel-desc">
      <p class="ioc-panel-desc-title">
        <img src="/images/common/data_details.png"/>
      </p>
    </div>
    <div >
      <h4>第三水厂主要受到港城组团污水处理厂和浏河镇污水处理厂的工业废水排放影响</h4>
    </div>
    <p class="fill-margin"></p>
    <div class="ioc-panel-desc">
      <p class="ioc-panel-desc-title">
        <img src="/images/common/ioc-index-mean.png"/>
      </p>
      <p class="ioc-panel-desc-body">
        可手动调节 <strong>工业废水排放量</strong>
        ，观察对应各个水质污染物污染情况。
      </p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="handler-title" ng-model="fc.name1">港城组团污水处理厂</p>
      </div>
      <div class="col-md-7">
        <div class="progress-box">
          <div class="percentage-cur">
            <span class="num">{{selectedRange4}}.00%</span>
            <span></span>
          </div>
          <div class="progress-bar progress-bar-slider">
            <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange4" >
            <div class="inner" ng-style="{ width: (selectedRange4) + '%'   }" ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="handler-title">浏河镇污水处理厂</p>
      </div>
      <div class="col-md-7">
        <div class="progress-box">
          <div class="percentage-cur">
            <span class="num">{{ selectedRange3}}.00%</span>
          </div>
          <div class="progress-bar progress-bar-slider">
            <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange3">
            <div class="inner" ng-style="{ width: (selectedRange3) + '%'   }" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--第二水厂数据-->
<div ng-show="tableStatus.allWater3">
  <div class="col-md-8 chart-panel">
    <div class="row">

      <div class="col-md-3">
        <highchart  config="chart31"></highchart>
      </div>

      <div class="col-md-3">
        <highchart style="height:400px;" config="chart32"></highchart>
      </div>

      <div class="col-md-3">
        <highchart style="height:400px;" config="chart33"></highchart>
      </div>

      <div class="col-md-3">
        <highchart style="height:400px;" config="chart34"></highchart>
      </div>

      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <th></th>
            <th colspan="2">溶解氧(mg/L)</th>
            <th colspan="2">高锰酸钾(mg/L)</th>
            <th colspan="2">氨氮(mg/L)</th>
            <th colspan="2">总磷(mg/L)</th>
          </tr>
          <tr>
            <td></td>
            <td>原值</td>
            <td>预测未来值</td>
            <td>原值</td>
            <td>预测未来值</td>
            <td>原值</td>
            <td>预测未来值</td>
            <td>原值</td>
            <td>预测未来值</td>
          </tr>
          <tr>
            <td>值</td>
            <td>2</td>
            <td>{{(selectedRange5*0.03*0.5+3).toFixed(2)}}</td>
            <td>{{waterQualityAnalysisMarker.index_kmno4}}</td>
            <td>{{(selectedRange5*0.03*0.5+8).toFixed(2)}}</td>
            <td>{{waterQualityAnalysisMarker.index_nh4n}}</td>
            <td>{{(selectedRange5*0.03*0.5+0.8).toFixed(2)}}</td>
            <td>{{waterQualityAnalysisMarker.index_p}}</td>
            <td>{{(selectedRange5*0.03*0.5+0.3).toFixed(2)}}</td>
          </tr>
          <tr>
            <td>状态</td>
            <td>
              <span ng-class="getLabelCss(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">
                {{getChineseStatusView(getStatusDesc(waterQualityAnalysisMarker.index_o2,waterQualityO2Scan.scan,'溶解氧').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusDesc(predict_waterquality.index_o2,waterQualityO2Scan.scan,'溶解氧').status)">
                {{getChineseStatusView(getStatusDesc(predict_waterquality.index_o2,waterQualityO2Scan.scan,'溶解氧').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">
                {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)">
                {{getChineseStatusView(getStatusAsc(predict_waterquality.index_kmno4,waterQualityKmno4Scan.scan,'高锰酸钾').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">
                {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)">
                {{getChineseStatusView(getStatusAsc(predict_waterquality.index_nh4n,waterQualityNh4nScan.scan,'氨氮').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)">
                {{getChineseStatusView(getStatusAsc(waterQualityAnalysisMarker.index_p,waterQualityPScan.scan,'总磷').status)}}
              </span>
            </td>
            <td>
              <span ng-class="getLabelCss(getStatusAsc(predict_waterquality.index_p,waterQualityPScan.scan,'总磷').status)">
                {{getChineseStatusView(getStatusAsc(predict_waterquality.index_p,waterQualityPScan.scan,'总磷').status)}}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 desc-content">
    <div class="ioc-panel-desc">
      <p class="ioc-panel-desc-title">
        <img src="/images/common/data_details.png"/>
      </p>
    </div>
    <div >
      <h4>第二水厂位处璜泾镇污水处理厂下游，受其污水排放影响</h4>
    </div>
    <p class="fill-margin"></p>
    <div class="ioc-panel-desc">
      <p class="ioc-panel-desc-title">
        <img src="/images/common/ioc-index-mean.png"/>
      </p>
      <p class="ioc-panel-desc-body">
        可手动调节
        <strong>工厂废水排放量</strong>
        观察对应各个水质污染物污染情况
      </p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="handler-title" ng-model="fc.name1">璜泾镇污水处理厂</p>
      </div>
      <div class="col-md-7">
        <div class="progress-box">
          <div class="percentage-cur">
            <span class="num">{{selectedRange5}}.00%</span>
            <span></span>
          </div>
          <div class="progress-bar progress-bar-slider">
            <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange5" >
            <div class="inner" ng-style="{ width: (selectedRange5) + '%'   }" ></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<p class="fill-margin"></p>
<p class="fill-margin bordered"></p>

</div>