<div class="wrapper lter b-b bg-white">
  <div class="subview3_title">水环境分析预测BI</div>
</div>
<div class="fc-container">
  <div class="col-md-12 " >
    <!--test-->
    <div class="wrapper ">
      <div class="details-content">
        <div class="panel panel-primary" style="margin-top: 10px;">
          <div class="panel-heading">
            水质量分析
            <span class="glyphicon glyphicon  -question-sign pull-right"></span>
          </div>
          <div class="row" >
            <div class="col-md-7">
              <div style="height:700px;" class="chart-panel">
                <div  style="padding:15px;width:100%;height:100%;">
                  <div id="map_wMap"></div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div  style="width:100%;height: 700px;">
                <div >
                  <h4>水质量分析</h4>
                  <div>
                    <h5 style="padding-top:0px;">(更新时间:&nbsp 2015年12月11日6时)</h5>
                  </div>
                  <div>
                    <button class="btn btn-warning" ng-click="waterlist()">
                      &nbsp超标水质监测点
                      <span class="badge"></span>
                    </button>
                    <button class="btn btn-primary" ng-click="alllist()">列出所有检测点</button>
                  </div>
                  <br />
                  <div>
                    <button class="btn btn-primary" ng-class="getButtonStatus(airQualityStatus.status)" ng-click="airQualityBtn()">
                      <span class="glyphicon glyphicon-hand-right"></span>
                      &nbsp污水排放分析
                    </button>
                  </div>
                  <hr>
                  <div ng-show="mapTableStatus.airCondition">
                    <h5 align="right" style="padding-top: 0px;padding-right:10px">(更新时间:&nbsp 2015年12月11日6时)</h5>
                    <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                      <tr>
                        <th style="width:20%">监测点</th>
                        <th style="width:20%">溶解氧</th>
                        <th style="width:20%">KMnO4</th>
                        <th style="width:20%">氨氮</th>
                        <th style="width:20%">总磷</th>
                      </tr>
                      <tr>
                        <td style="width:20%">协鑫码头</td>
                        <td style="width:20%">9.40</td>
                        <td style="width:20%">2.50</td>
                        <td style="width:20%">0.35</td>
                        <td style="width:20%">0.09</td>
                      </tr>
                      <tr>
                        <td style="width:20%">第三水厂</td>
                        <td style="width:20%">4.51</td>
                        <td style="width:20%">2.30</td>
                        <td style="width:20%">0.49</td>
                        <td style="width:20%">0.09</td>
                      </tr>
                    </table>
                  </div>
                  <!--<br/>
                  <br/>
                  <br/>
                  <br/>
                  -->
                  <div  style="font-size:16px" ng-show="mapTableStatus.airQuality">
                    <div >
                      <div id="source_analysis">
                        <h4>附近污染源</h4>
                        <hr>
                        <div>
                          <table class="table table-hover table-responsive"  style="font-size:14px;margin-bottom:0px">
                            <tr>
                              <th style="width:30%">企业</th>
                              <th style="width:25%">
                                排放量
                                <br/>
                                (吨)
                              </th>
                              <th style="width:15%">
                                COD
                                <br/>
                                (mg/L)
                              </th>
                              <th style="width:15%">
                                氨氮
                                <br/>
                                (mg/L)
                              </th>
                              <th style="width:15%">
                                总磷
                                <br/>
                                (mg/L)
                              </th>
                            </tr>
                            <tr>
                              <td style="width:30%">玖龙纸业</td>
                              <td style="width:25%">54554.85</td>
                              <td style="width:15%">36.07</td>
                              <td style="width:15%">0.34</td>
                              <td style="width:15%">0.08</td>
                            </tr>
                            <tr>
                              <td style="width:30%">江城有限公司</td>
                              <td style="width:25%">9785.67</td>
                              <td style="width:15%">23.80</td>
                              <td style="width:15%">0.97</td>
                              <td style="width:15%">0.42</td>
                            </tr>
                            <tr>
                              <td style="width:30%">岳王污水处理厂</td>
                              <td style="width:25%">1878.77</td>
                              <td style="width:15%">10.23</td>
                              <td style="width:15%">0.33</td>
                              <td style="width:15%">0.08</td>
                            </tr>
                            <tr>
                              <td style="width:30%">黄靖镇污水处理厂</td>
                              <td style="width:25%">2491.77</td>
                              <td style="width:15%">24.11</td>
                              <td style="width:15%">0.35</td>
                              <td style="width:15%">0.08</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <button type="button" class="btn btn-block btn-success" ng-click="btn_waterEnvironmentAllList()" ng-show="tableStatus.allWaterQualityFailArrNav" >列出所有监测点</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: -20px;">
      <div class="col-md-12" style="padding:15px 30px 15px 30px">
        <div class="panel panel-primary" style="margin-top: 20px;">
          <div class="panel-heading">
            污水排放总量变化
            <span class="glyphicon glyphicon-question-sign pull-right"></span>
          </div>
          <div class="panel-body ">
            <div class="row">
              <div class="col-md-8 chart-panel">
                <div id="discharge" style="width:98%;height: 400px;margin-left:24px" ></div>
              </div>
              <div class="col-md-4">
                <p class="fill-margin"></p>
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/data_details.png"/>
                  </p>
                  <h4>2015年12月24日每小时污水排放量均正常，无明显超标现象</h4>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="wrapper ">
      <div class="details-content">
        <div class="panel panel-primary" style="margin-top: 10px;">
          <div class="panel-heading">
            水环境质量预测分析
            <span class="glyphicon glyphicon-question-sign pull-right"></span>
          </div>
          <div class="panel-body">

            <div class="row">
              <button ng-repeat="bttn in buttonMap2" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 55px;" btn-radio="bttn.radio" ng-click="btn_click(bttn)">{{bttn.label}}</button>
              <!--第一个-->
              <div ng-show="tableStatus.allWater1">
                <div class="col-md-8 chart-panel">
                  <div class="row">
                    <!-- 四个仪表图 -->
                    <div style="border:2px solid #1887CF; margin:20px 5px 5px 50px; width:750px; float:left">
                        <div style="witdth:220px; float:left; margin-left:10px">
                          <highchart config="chart11"></highchart>
                        </div>
                        <div style="witdth:220px; float:left">
                          <highchart config="chart12"></highchart>
                        </div>
                        <div style="witdth:220px; float:left">
                          <highchart config="chart13"></highchart>
                        </div>
                        <div style="witdth:220px; float:left">
                          <highchart config="chart14"></highchart>
                        </div>
                    </div>
                    <!-- 直方图 -->
                    <div style="border:2px solid #1887CF; margin:20px 5px 5px 50px; width:750px; float:left">
                      <highchart config="lala"></highchart>
                    </div>
                </div>
              </div>

              <div class="col-md-4 desc-content">
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/data_details.png"/>
                  </p>
                </div>
                <div >
                  <h4>太仓市协鑫码头水质主要受玖龙纸业和港城组团污水处理厂两个工业废水排放场影响</h4>
                </div>
                <p class="fill-margin"></p>
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/ioc-index-mean.png"/>
                  </p>
                  <p class="ioc-panel-desc-body">
                    可手动调节工厂废水排放量
                    观察对应各个水质污染物污染情况
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <p >玖龙纸业</p>
                  </div>
                  <div class="col-md-7">
                    <div class="progress-box">
                      <div class="percentage-cur">
                        <input type="text" class="form-control" ng-model="selectedRange" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:100%" >
                        <span class="num">{{selectedRange}}.00%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider">
                        <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange" >
                        <div class="inner" ng-style="{ width: (selectedRange) + '%'   }" ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5">
                    <p class="handler-title">江城有限公司</p>
                  </div>
                  <div class="col-md-7">
                    <div class="progress-box">
                      <div class="percentage-cur">
                        <input type="text" class="form-control" ng-model="selectedRange1" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:100%" >
                        <span class="num">{{ selectedRange1}}.00%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider">
                        <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange1">
                        <div class="inner" ng-style="{ width: (selectedRange1) + '%'   }" ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5">
                    <p class="handler-title">岳王污水处理厂</p>
                  </div>
                  <div class="col-md-7">
                    <div class="progress-box">
                      <div class="percentage-cur">
                        <input type="text" class="form-control" ng-model="selectedRange2" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:100%" >
                        <span class="num">{{ selectedRange2}}.00%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider">
                        <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange2">
                        <div class="inner" ng-style="{ width: (selectedRange2) + '%'  }" ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--第三水厂排放情况-->
            <div ng-show="tableStatus.allWater2">
              <div class="col-md-8 chart-panel">
                <div class="row">
                  <div style="border:2px solid #1887CF; margin:20px 5px 5px 50px; width:750px; float:left">
                    <div style="witdth:220px; float:left; margin-left:10px">
                      <highchart config="chart21"></highchart>
                    </div>
                    <div style="witdth:220px; float:left">
                      <highchart config="chart22"></highchart>
                    </div>
                    <div style="witdth:220px; float:left">
                      <highchart config="chart23"></highchart>
                    </div>
                    <div style="witdth:220px; float:left">
                      <highchart config="chart24"></highchart>
                    </div>
                  </div>
                  <div style="border:2px solid #1887CF; margin:20px 5px 5px 50px; width:750px; float:left">
                    <highchart config="bb"></highchart>
                  </div>
                </div>
              </div>

              <div class="col-md-4 desc-content">
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/data_details.png"/>
                  </p>
                </div>
                <div >
                  <h4>第三水厂主要受到港城组团污水处理厂和浏河镇污水处理厂的工业废水排放影响</h4>
                </div>
                <p class="fill-margin"></p>
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/ioc-index-mean.png"/>
                  </p>
                  <p class="ioc-panel-desc-body">
                    可手动调节 <strong>工业废水排放量</strong>
                    ，观察对应各个水质污染物污染情况。
                  </p>
                </div>

                <div class="row">
                  <div class="col-md-5">
                    <p class="handler-title" ng-model="fc.name1">港城组团污水处理厂</p>
                  </div>
                  <div class="col-md-7">
                    <div class="progress-box">
                      <div class="percentage-cur">
                        <input type="text" class="form-control" ng-model="selectedRange4" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:100%" >
                        <span class="num">{{selectedRange4}}.00%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider">
                        <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange4" >
                        <div class="inner" ng-style="{ width: (selectedRange4) + '%'   }" ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5">
                    <p class="handler-title">浏河镇污水处理厂</p>
                  </div>
                  <div class="col-md-7">
                    <div class="progress-box">
                      <div class="percentage-cur">
                        <input type="text" class="form-control" ng-model="selectedRange3" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:100%" >
                        <span class="num">{{ selectedRange3}}.00%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider">
                        <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange3">
                        <div class="inner" ng-style="{ width: (selectedRange3) + '%'   }" ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--第二水厂数据-->
            <div ng-show="tableStatus.allWater3">
              <div class="col-md-8 chart-panel">
                <div class="row">
                    <div style="border:2px solid #1887CF; margin:20px 5px 5px 50px; width:750px; float:left">
                      <div style="witdth:220px; float:left; margin-left:10px">
                        <highchart config="chart31"></highchart>
                      </div>
                      <div style="witdth:220px; float:left">
                        <highchart config="chart32"></highchart>
                      </div>
                      <div style="witdth:220px; float:left">
                        <highchart config="chart33"></highchart>
                      </div>
                      <div style="witdth:220px; float:left">
                        <highchart config="chart34"></highchart>
                      </div>
                    </div>
                    <div style="border:2px solid #1887CF; margin:20px 5px 5px 50px; width:750px; float:left">
                      <highchart config="cc"></highchart>
                    </div>
                </div>
              </div>
              <div class="col-md-4 desc-content">
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/data_details.png"/>
                  </p>
                </div>
                <div >
                  <h4>第二水厂位处璜泾镇污水处理厂下游，受其污水排放影响</h4>
                </div>
                <p class="fill-margin"></p>
                <div class="ioc-panel-desc">
                  <p class="ioc-panel-desc-title">
                    <img src="/images/common/ioc-index-mean.png"/>
                  </p>
                  <p class="ioc-panel-desc-body">
                    可手动调节
                    <strong>工厂废水排放量</strong>
                    观察对应各个水质污染物污染情况
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <p class="handler-title" ng-model="fc.name1">璜泾镇污水处理厂</p>
                  </div>
                  <div class="col-md-7">
                    <div class="progress-box">
                      <div class="percentage-cur">
                        <input type="text" class="form-control" ng-model="selectedRange5" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:100%" >
                        <span class="num">{{selectedRange5}}.00%</span>
                        <span></span>
                      </div>
                      <div class="progress-bar progress-bar-slider">
                        <input class="progress-slider" type="range" min="0" max="100" ng-model="selectedRange5" >
                        <div class="inner" ng-style="{ width: (selectedRange5) + '%'   }" ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
