<div class="bg-white">
  <div class="wrapper lter b-b bg-white">
    <div class="subview3_title">人口结构分析预测BI</div>
  </div>
  <div style="height:25px"></div>
  <div class="col-md-12 bg-white">
    <div class="details-content">
      <div class="zzh-container" >

        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 20px;">
              <div class="panel-heading">
                常住人口人口结构预测分析
                <span class="glyphicon glyphicon-question-sign pull-right"></span>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="span12 col-md-12">
                    <button ng-repeat="bttn in buttonMap" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click(bttn)">{{bttn.label}}</button>

                    <div class="col-md-8 chart-panel ">
                      <highchart id="age_ration" config="age_ration" style="height: 550px" style="float:left"></highchart>

                    </div>

                    <div class="col-md-4">

                      <p class="fill-margin"></p>
                      <div class="ioc-panel-desc">
                        <p class="ioc-panel-desc-title">
                          <img src="/images/common/data_details.png"/>
                        </p>

                        <h4>预测结果解读</h4>
                        <p id="abc">太仓市人口结构持续老龄化；其中，60岁及以上人口比例从2014的 4.29% 增加到2024的 4.05%。65岁以上人口比例从2014的 5.25% 增加到2024年的 4.00%。影响：
    1. 劳动人口減少；
    2. 产业劳动力资源相对短缺；
    3. 社会资源偏向成年人福利及医疗开支，导致财政负担过高。
解决办法：
    1. 实行鼓励生育政策；
    2. 完善社会保障体系；
    3. 适度提高老人退休年龄；</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class=" col-md-12">
                    <div class="col-md-6 chart-panel">
                      <highchart id="population_year" config="population_year" style="width:480px;height:400px"></highchart>
                    </div>
                    <div class="col-md-6">
                      <highchart id="population_prediction_year" config="population_prediction_year" style="width:480px;height:400px"></highchart>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 20px;">
              <div class="panel-heading">
                常住人口人口总量预测分析
                <span class="glyphicon glyphicon-question-sign pull-right"></span>
              </div>
              <div class="panel-body">

                <div class="row">
                  <button ng-repeat="bttn in buttonMap1" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click1(bttn)">{{bttn.label}}</button>
                  <div class="col-md-8 chart-panel">

                    <highchart id="sumpopulation" config="sumpopulation" style="width:500px,height: 500px"></highchart>
                  </div>
                  <div class="col-md-4">

                    <p class="fill-margin"></p>
                    <div class="ioc-panel-desc">
                      <p class="ioc-panel-desc-title">
                        <img src="/images/common/data_details.png"/>
                      </p>

                      <h4>预测结果解读</h4>

                    </div>
                  </div>
                </div>

              </div>
              <div></div>

            </div>
          </div>

        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 20px;">
              <div class="panel-heading">
                常住人口自然增长率预测分析
                <span class="glyphicon glyphicon-question-sign pull-right"></span>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="cl-md-8 chart-panel" style="margin-left:5px;">
                      <div id="conMap"></div>
                    </div>
                  </div>
                  <div class="cl-md-4">
                    <p class="fill-margin"></p>
                    <div class="ioc-panel-desc">
                      <p class="ioc-panel-desc-title">
                        <img src="/images/common/data_details.png"/>
                      </p>

                      <h4>预测结果解读</h4>

                      <div id="map" style="width:400px;height:40px"></div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>
