<div class="bg-white">
  <div class="wrapper lter b-b bg-white">
    <div class="subview3_title">人口结构分析预测BI</div>
  </div>
  <div style="height:25px"></div>
  <div class="col-md-12 bg-white">
    <div class="details-content">
      <div class="zzh-container" >

        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 20px;">
              <div class="panel-heading">
                常住人口结构预测分析
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="span12 col-md-12">
                    <div class="col-md-8 chart-panel ">
                      <highchart id="age_ration" config="age_ration" style="height: 550px" style="float:left"></highchart>

                    </div>

                    <div class="col-md-4">

                      <p class="fill-margin"></p>
                      <div class="ioc-panel-desc">
                        <p class="ioc-panel-desc-title">
                          <img src="/images/common/data_details.png"/>
                        </p>

                        <h4>预测结果解读</h4>
                        <p id="abc">太仓市人口结构持续老龄化；其中，60岁及以上人口比例从2015的 5% 增加到2025的 7%。影响：
    1. 劳动人口減少；
    2. 产业劳动力资源相对短缺；
    3. 社会资源偏向成年人福利及医疗开支，导致财政负担过高。
解决办法：
    1. 实行鼓励生育政策；
    2. 完善社会保障体系；
    3. 适度提高老人退休年龄；</p>
                      </div>
                      <hr/>

                      <div class="btn-group dropdown">
          <button class="btn btn-primary">年份选择</button>
          <button class="btn btn-primary" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <button ng-repeat="bttn in buttonMap" class="btn btn-primary" ng-model="predictionModal" style="margin-bottom:1px;" btn-radio="bttn.radio" ng-click="btn_click(bttn)">{{bttn.label}}</button>
          </ul>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div ><button class="btn btn-primary" ><i class="fa fa-hand-o-down"></i>详情解析</button></div>


                     
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="row" >
                  <div class=" col-md-12">
                    <div class="col-md-6 chart-panel">
                      <highchart id="population_year" config="population_year" style="width:98%;height:500px"></highchart>
                    </div>
                    <div class="col-md-6">
                      <highchart id="population_prediction_year" config="population_prediction_year" style="width:98%;height:500px"></highchart>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 20px;">
              <div class="panel-heading">
                常住人口总量预测分析
                <span class="glyphicon glyphicon-question-sign pull-right"></span>
              </div>
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-8 chart-panel">

                    <highchart id="sumpopulation" config="sumpopulation" style="width:500px,height: 500px"></highchart>
                  </div>
                  <div class="col-md-4">

                    <p class="fill-margin"></p>
                    <div class="ioc-panel-desc">
                      <p class="ioc-panel-desc-title">
                        <img src="/images/common/data_details.png"/>
                      </p>

                      <h4>预测结果解读</h4>
                      <p id='a'>总体来看，太仓市的人口总量处于平稳状态，呈增长趋势，随着二胎政策的全面开放，极大促进了人口数量的增加。</p>
                    </div>
                    <hr />

                    <div class="btn-group dropdown">
          <button class="btn btn-primary">年份选择</button>
          <button class="btn btn-primary" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <button ng-repeat="bttn in buttonMap1" class="btn btn-primary" ng-model="predictionModal" style="margin-bottom:1px;" btn-radio="bttn.radio" ng-click="btn_click1(bttn)">{{bttn.label}}</button>
          </ul>
        </div>

                  </div>
                </div>

              </div>
              <div></div>

            </div>
          </div>

        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="panel panel-primary" style="margin-top: 20px;">
              <div class="panel-heading">
                当前常住人口自然增长率预测分析
                <span class="glyphicon glyphicon-question-sign pull-right"></span>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-9">
                    <div class="cl-md-9 chart-panel" style="margin-left:5px;">
                      <div id="conMap"></div>
                    </div>
                  </div>
                  <div class="cl-md-3">
                    <p class="fill-margin"></p>
                    <div class="ioc-panel-desc">
                      <p class="ioc-panel-desc-title">
                        <img src="/images/common/data_details.png"/>
                      </p>

                      <h4>预测结果解读</h4>
                      <p>从图中可以看出太仓各乡镇的人口自然增长率情况；目前，板桥镇和新湖镇人口自然增长率为负；太仓市，陆渡镇和沙溪镇人口自然增长率为正。</p>
                      <div id="map" style="width:400px;height:40px"></div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>
