
   <div class="wrapper lter b-b bg-white">
     <div class="subview3_title">劳动力人口与经济关联分析预测BI</div>
   </div>
   <div class="wrapper bg-white">
     <div class="details-content">
       <div class="zzh-container" >
         <div class="panel panel-primary" style="margin-top: 50px;">
           <div class="panel-heading">
             劳动力总人口与GDP的预测分析
             <span class="glyphicon glyphicon-question-sign pull-right"></span>
           </div>

           <div class="panel-body">
             <div class="row">
               <button ng-repeat="bttn in buttonMap2" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click(bttn)">{{bttn.label}}</button>
               <div class="col-md-8 chart-panel">

                 <highchart style="height:400px;" config="predictChart"></highchart>
               </div>
               <div class="col-md-4 desc-content">
                 <div class="ioc-panel-desc">
                   
                 </div>
                 
                 <p class="fill-margin"></p>
                 <div class="ioc-panel-desc">
                   <p class="ioc-panel-desc-title">
                     <img src="/images/common/ioc-index-mean.png"/>   
                   </p>
                   <p class="ioc-panel-desc-body">
                     可手动调节 <strong>劳动力人口与经济</strong>
                     各个指标值,观察对应经济与劳动力人口的指标变化情况。
                   </p>
                 </div>
                 <div class="row">
                   <div class="col-md-5">
                     <p class="handler-title">劳动力人口</p>
                   </div>
                   <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="selectedRange" pattern="((-)?[0-9]{1,2}|100|-100)" style="width:170px" >
                     <div class="progress-box">
                       <div class="percentage-cur">
                         <span class="num">{{selectedRange}}.00%</span>
                       </div>
                       <div class="progress-bar progress-bar-slider">
                         <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange" >   
                         <div class="inner" ng-style="{ width: (selectedRange/2 +50) + '%' || '50%' }" ></div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-5">
                     <p class="handler-title">GDP</p>
                   </div>
                   <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="selectedRange1" pattern="((-)?[0-9]{1,2}|100|-100)" placeholder="输入数字调节" style="width:170px">
                     <div class="progress-box">
                       <div class="percentage-cur">
                         <span class="num">{{ selectedRange1}}.00%</span>
                       </div>
                       <div class="progress-bar progress-bar-slider">
                         <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange1">   
                         <div class="inner" ng-style="{ width: (selectedRange1/2 +50) + '%' || '50%' }" ></div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <p class="fill-margin"></p>
             <p class="fill-margin bordered"></p>

             <div class="row">
               <div class=" col-md-12">
                 <div class="col-md-6 chart-panel">
                   <highchart id="populationChart" config="populationChart" style="width:95%;height:400px"></highchart>
                 </div>
                 <div class="col-md-6">
                   <highchart id="GDPChart" config="GDPChart" style="width:95%;height:400px"></highchart>
                 </div>
               </div>

             </div>
           </div>

         </div>
       </div>
     </div>
     <div class="zzh-container">
       <div class="row" style="margin-top: 20px;">
         <div class="col-md-12">
           <div class="panel panel-primary" style="margin-top: 20px;">
             <div class="panel-heading">
               劳动力人口与经济关联度分析预测
               <span class="glyphicon glyphicon-question-sign pull-right"></span>
             </div>
             <div class="panel-body">

               <div class="row">
                 <button ng-repeat="bttn in buttonMap3" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click2(bttn)">{{bttn.label}}</button>
                 <div class="col-md-8 chart-panel">
                   <div id="main"  style="width:95%;height: 500px"></div>
                 </div>
                 <div class="col-md-4">

                   <p class="fill-margin"></p>
                   <div class="ioc-panel-desc">
                     <p class="ioc-panel-desc-title">
                       <img src="/images/common/data_details.png"/>   
                     </p>

                     <h4>预测结果解读</h4>
                     <p>在经济发展水平对人口的影响中，关联度最高的是第二产业总值，排在第一位；其次是生产总值，排在第三位的是第三产业总值，说明第二、三产业的发展较迅速，增加了各自的就业人口，从而对人口发展的影响较大。总体来说，由于第一产业总值的所占比重逐年下降，第二、三产业总值比重上升，将成为影响人口就业结构和城乡结构变化的主要因素。</p>
                   </div>
                 </div>
               </div>

               <div></div>

             </div>
           </div>
         </div>

       </div>

       <div class="row" style="margin-top: 20px;">
         <div class="col-md-12">
           <div class="panel panel-primary" style="margin-top: 20px;">
             <div class="panel-heading">
               产业人口与产业GDP比重分析预测
               <span class="glyphicon glyphicon-question-sign pull-right"></span>
             </div>
             <div class="panel-body">

               <div class="row">
                 <div class=" col-md-12">
                   <button ng-repeat="bttn in buttonMap3" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click1(bttn)">{{bttn.label}}</button>
                   <div class="col-md-8 chart-panel">
                     <highchart id="populationPie" config="populationPie" style="width:95%;height:300px"></highchart>
                     <hr />   
                     <highchart id="industryPie" config="industryPie" style="width:95%;height:300px"></highchart>
                   </div>

                   <div class="col-md-4">
                     <p class="fill-margin"></p>
                     <div class="ioc-panel-desc">
                       <p class="ioc-panel-desc-title">
                         <img src="/images/common/data_details.png"/>   
                       </p>

                       <h4>预测结果解读</h4>
                       <p>结合两者的平均比重，即第一、二、三产业就业人口比重分别为37%、30%和33%，产值比重分别是8%、44%和48%，可见结业结构仍滞后于产值结构。总体表现为：第一产业劳动力过剩，第二、三产业劳动力不足；一般情况下，随着经济发展和人均国民收入提高，第二、三产业人口将提高，第三产业人口将占绝对优势。</p>
                     </div>
                   </div>

                 </div>
               </div>
             </div>

           </div>
         </div>

       </div>
     </div>
   </div>