
   <div class="wrapper lter b-b bg-white">
     <div class="subview3_title">劳动力人口与经济关联分析预测BI</div>
   </div>
   <div class="wrapper bg-white">
     <div class="details-content">
       <div class="zzh-container" >
         <div class="panel panel-primary" style="margin-top: 50px;">
           <div class="panel-heading">
             劳动力总人口与GDP的预测分析
             <span class="glyphicon glyphicon-question-sign pull-right"></span>
           </div>

           <div class="panel-body">
             <div class="row">
               <button ng-repeat="bttn in buttonMap2" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click(bttn)">{{bttn.label}}</button>
               <div class="col-md-8 chart-panel">

                 <highchart style="height:400px;" config="predictChart"></highchart>
               </div>
               <div class="col-md-4 desc-content">
                 <div class="ioc-panel-desc">
                   <p class="ioc-panel-desc-title">
                     <img src="/images/common/data_details.png"/>   
                   </p>
                 </div>
                 <div >
                   <h4>
                     劳动力人口与经济关联分析预测XXXXXXXXXXXXX
                      XXXXXXXXXXXXXX
                   </h4>
                 </div>
                 <p class="fill-margin"></p>
                 <div class="ioc-panel-desc">
                   <p class="ioc-panel-desc-title">
                     <img src="/images/common/ioc-index-mean.png"/>   
                   </p>
                   <p class="ioc-panel-desc-body">
                     可手动调节 <strong>劳动力人口与经济</strong>
                     各个指标值,观察对应经济与劳动力人口的指标变化情况。
                   </p>
                 </div>
                 <div class="row">
                   <div class="col-md-5">
                     <p class="handler-title">劳动力人口</p>
                   </div>
                   <div class="col-md-7">
                     <div class="progress-box">
                       <div class="percentage-cur">
                         <span class="num">{{selectedRange}}.00%</span>
                       </div>
                       <div class="progress-bar progress-bar-slider">
                         <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange" >   
                         <div class="inner" ng-style="{ width: (selectedRange/2 +50) + '%' || '50%' }" ></div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-5">
                     <p class="handler-title">GDP</p>
                   </div>
                   <div class="col-md-7">
                     <div class="progress-box">
                       <div class="percentage-cur">
                         <span class="num">{{ selectedRange1}}.00%</span>
                       </div>
                       <div class="progress-bar progress-bar-slider">
                         <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange1">   
                         <div class="inner" ng-style="{ width: (selectedRange1/2 +50) + '%' || '50%' }" ></div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <p class="fill-margin"></p>
             <p class="fill-margin bordered"></p>

             <div class="row">
               <div class=" col-md-12">
                 <div class="col-md-6 chart-panel">
                   <highchart id="populationChart" config="populationChart" style="width:480px;height:400px"></highchart>
                 </div>
                 <div class="col-md-6">
                   <highchart id="GDPChart" config="GDPChart" style="width:480px;height:400px"></highchart>
                 </div>
               </div>

             </div>
           </div>

         </div>
       </div>
     </div>
     <div class="zzh-container">
       <div class="row" style="margin-top: 20px;">
         <div class="col-md-12">
           <div class="panel panel-primary" style="margin-top: 20px;">
             <div class="panel-heading">
               劳动力人口与经济关联度分析预测
               <span class="glyphicon glyphicon-question-sign pull-right"></span>
             </div>
             <div class="panel-body">

               <div class="row">
                 <button ng-repeat="bttn in buttonMap3" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click2(bttn)">{{bttn.label}}</button>
                 <div class="col-md-9 chart-panel">
                   <div id="main"  style="height: 500px"></div>
                 </div>
                 <div class="col-md-3">

                   <p class="fill-margin"></p>
                   <div class="ioc-panel-desc">
                     <p class="ioc-panel-desc-title">
                       <img src="/images/common/data_details.png"/>   
                     </p>

                     <h4>预测结果解读</h4>

                   </div>
                 </div>
               </div>

               <div></div>

             </div>
           </div>
         </div>

       </div>

       <div class="row" style="margin-top: 20px;">
         <div class="col-md-12">
           <div class="panel panel-primary" style="margin-top: 20px;">
             <div class="panel-heading">
               产业人口与产业GDP比重分析预测
               <span class="glyphicon glyphicon-question-sign pull-right"></span>
             </div>
             <div class="panel-body">

               <div class="row">
                 <div class=" col-md-12">
                   <button ng-repeat="bttn in buttonMap3" class="btn btn-primary col-md-2" ng-model="predictionModal" style="margin-left: 25px;" btn-radio="bttn.radio" ng-click="btn_click1(bttn)">{{bttn.label}}</button>
                   <div class="col-md-8 chart-panel">
                     <highchart id="populationPie" config="populationPie" style="width:500px;height:300px"></highchart>
                     <hr />   
                     <highchart id="industryPie" config="industryPie" style="width:500px;height:300px"></highchart>
                   </div>

                   <div class="col-md-4">
                     <p class="fill-margin"></p>
                     <div class="ioc-panel-desc">
                       <p class="ioc-panel-desc-title">
                         <img src="/images/common/data_details.png"/>   
                       </p>

                       <h4>预测结果解读</h4>

                     </div>
                   </div>

                 </div>
               </div>
             </div>

           </div>
         </div>

       </div>
     </div>
   </div>