
<div class="login-page" >
    <div class="banner-section banner-01">
        <div class="banner-overlay"></div>
        <div class="banner-content">
            <div class="tiger-container clearfix">
                <!-- <div class="image-wrapper pull-left">
                    <img src="images/portal/login/image-01.png" alt="..."/>
                </div> -->
                <div class="panel-wrapper pull-right">
                    <div class="panel pane-default login-panel">
                        <div class="panel-body">
                            <div class="clearfix">
                                <h4 class="pull-left" style="font-size:0.9em;">欢迎登陆</h4>
                                <!-- <a class="pull-right text-red register-link" href="#/register">立即注册&nbsp;<i class="fa fa-angle-right"></i></a> -->
                            </div>
                            <form class="login-form form-validation" name="loginForm" novalidate>
                                <div class="input-group m-t-md">
                                    <span class="input-group-addon">
                                      <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="login_name" placeholder="请输入账号" required/>
                                </div>
                                <div class="input-group m-t-md">
                                    <span class="input-group-addon">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" ng-model="login_password" placeholder="请输入密码" required/>
                                </div>
                                <div class="clearfix m-t-sm">
                                    <label class="i-checks i-checks-sm pull-left" style="font-size:0.7em;">
                                        <input type="checkbox" ng-model="autoLogin">
                                        <i></i>&nbsp;自动登录
                                    </label>
                                    <a class="pull-right forgotpwd-link" ng-click="forgotPassword()" style="font-size:0.7em;">忘记密码?</a>
                                </div>
                                <div class="clearfix m-t-sm">
                                    <span class="text-danger">{{errorMsg}}</span>
                                </div>
                                <!-- <button class="btn btn-primary w-full m-t-sm" ng-click="login()">登录</button> -->
                                <button class="btn btn-primary w-full m-t-sm" ui-sref="app.index.economy.gdp({title:'GDP'})" style="margin-top:0;">登录</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="'tpl/portal/block/simple-footer.html'"></div>
