
<nav class="navbar navbar-ioc">
    <div class="container">
        <div class="navbar-header" style="margin-top:15px">
            <a  href="/">
                <img src="images/ioc-logo-login.png" width="141px" height="40px"></a>
        </div>
    </div>
</nav>

<div class="login-banner">
    <img src="images/ioc-login-bg.png">

    <div class="login-form-container">
        <div class="login-form">
            <div class="login-form-title">太仓市智慧城市大数据 智能分析系统</div>
            <div class="login-form-content">
                <form>
                    <div class="table">
                        <div class="row" style="height:60px;">
                            <div class="cell">
                                <span class="form-text">账号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <div class="cell">
                                <input ng-model="login_name" type="text" class="form-control form-input"  required>
                            </div>
                        </div>
                        <div class="row" style="height:40px;">
                            <div class="cell">
                                <span class="form-text">密码:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <div class="cell">
                                <input ng-model="login_password" type="password" class="form-control form-input">
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                            </div>
                            <div class="cell" style="height:30px;">
                                <span class="pull-left" style="color:#ffffff; font-size:12px"></span>
                                <a class="form-link pull-right"><!-- 忘记密码? --></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell"></div>
                            <div class="cell">
                                <button ng-click="login()" class="btn btn-default form-btn">登录</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

