
<div class="vbox cgq_fontsize" style="margin-bottom:5em" name="cgqmarker">
    <!--topbar-->
    <div class="wrapper lter b-b bg-white" >
  		  <a ui-sref="app.index.economy.powerconsumption({title:'工业用电量与经济增长关联分析模块'})" class="pull-right btn btn-sm btn-info m-t-n-xs" >返回</a>
     		<div class="subview3_title">{{title}}</div>
 	  </div>
    <div class="container" name="enterprise_map">
        <div class="col-md-12" style="margin-top:1em;">       
            <input type="text" class="form-control ui-select-search ng-pristine ng-valid ng-touched" data-toggle="dropdown" aria-expanded="false" placeholder="搜索企业..." ng-model="search.name" style="height:3em"> 
            <ul class="ui-select-choices ui-select-choices-content dropdown-menu ng-scope" role="menu" aria-labelledby="dLabel" ng-show="true" aria-hidden="false" style="margin-left:15px;padding:0">
                <li class="ui-select-choices-row ng-scope cgq-li-hover" ng-repeat="enterpriselist in enterpriselist | filter:search" role="button" tabindex="0" style="">                            
                    <a ng-click="chooseEnterprise()" class="ui-select-choices-row-inner">
                      <div>{{enterpriselist.name}}</div>
                    </a>
                </li>
            </ul>
        </div>
        
     	  <div class="col-md-12 cgq_margintop2em" style="height:400px;">

                
                <div class="col-md-12 topbar">
                  <h4 class="cgq_title">太仓市地图-选择企业</h4>
                </div>
                <div class="item m-l-n-xxs m-r-n-xxs">
                  <div id="consumptionbyenterprise"></div>
                </div>

        </div>
      <div class="col-md-12 bg-white wrapper ">
        <!--标题-->
        <div class="col-md-12 topbar">
          <h4 class="cgq_title">规模以上企业用电量与产值增长率关联分析</h4>
        </div>
        <!--上面一半-->
        <div class="col-md-12" style="padding:0;border-bottom:1px solid #428bca;">
          <!--highchart图表-->
          <div class="col-md-9" style="padding:2em 1em 0 1em">              
            <highchart  id="singlechartvocationbyyear" config='SingleVocationChartByYear'></highchart>
            <div class="float-table-year" ng-if="isshow.isShowYearTable">
              <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
              <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td><span style="color:rgb(100,214,40);">{{temptable.selectedindustry}}</span>数据：</td>
                <td>{{industriesdata.total.years[0]}}</td>
                <td>{{industriesdata.total.years[1]}}</td>
                <td>{{industriesdata.total.years[2]}}</td>
                <td>{{industriesdata.total.years[3]}}</td>
                <td>{{industriesdata.total.years[4]}}</td>
                <td>{{industriesdata.total.years[5]}}</td>
                <td>{{industriesdata.total.years[6]}}</td>
              </tr>
              <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td>GDP同比增长率(%)</td>
                <td>{{temptable.year.gdp[0]}}</td>
                <td>{{temptable.year.gdp[1]}}</td>
                <td>{{temptable.year.gdp[2]}}</td>
                <td>{{temptable.year.gdp[3]}}</td>
                <td>{{temptable.year.gdp[4]}}</td>
                <td>{{temptable.year.gdp[5]}}</td>
                <td>{{temptable.year.gdp[6]}}</td>
              </tr>
              <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td>工业用电量同比增长率(%)</td>
                <td>{{temptable.year.power[0]}}</td>
                <td>{{temptable.year.power[1]}}</td>
                <td>{{temptable.year.power[2]}}</td>
                <td>{{temptable.year.power[3]}}</td>
                <td>{{temptable.year.power[4]}}</td>
                <td>{{temptable.year.power[5]}}</td>
                <td>{{temptable.year.power[6]}}</td>
              </tr>
              <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td>年份</td>
                <td>{{industriesdata.total.years[7]}}</td>
                <td>{{industriesdata.total.years[8]}}</td>
                <td>{{industriesdata.total.years[9]}}</td>
                <td class="success">{{industriesdata.total.years[10]}}</td>
                <td class="success">{{industriesdata.total.years[11]}}</td>
                <td class="success">{{industriesdata.total.years[12]}}</td>
                <td></td>
              </tr>
              <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td>GDP同比增长率(%)</td>
                <td>{{temptable.year.gdp[7]}}</td>
                <td>{{temptable.year.gdp[8]}}</td>
                <td>{{temptable.year.gdp[9]}}</td>
                <td>{{temptable.year.gdp[10]}}</td>
                <td>{{temptable.year.gdp[11]}}</td>
                <td>{{temptable.year.gdp[12]}}</td>
                <td></td>
              </tr>
              <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td>工业用电量同比增长率(%)</td>
                <td>{{temptable.year.power[7]}}</td>
                <td>{{temptable.year.power[8]}}</td>
                <td>{{temptable.year.power[9]}}</td>
                <td>{{temptable.year.power[10]}}</td>
                <td>{{temptable.year.power[11]}}</td>
                <td>{{temptable.year.power[12]}}</td>
                <td></td>
              </tr>
            </table>
          </div>
          </div>
          <!--右侧控制面板-->       
          <div class="col-md-3 cgq_menustructer" style="border-left:1px solid #428bca;">
            <div class="col-md-12">
         
            </div>
            <div class="col-md-12 cgq_marginaround1em" style="margin-top:1em">
          <article class="media cgq_contentwidth">
                  <div class="pull-left">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="icon-bulb fa-spin fa-stack-1x text-white"></i>
                    </span>
                    <span class="h4">一句话解读</span>
                  </div>
                  <div class="media-body clear">                    
                    <small class="block m-t-xs">用电量与经济增长密切相关：用电量增减变动趋势与GDP增减变动趋势基本一致，GDP增长时，用电量也增长，增速相似；GDP回落时，用电量增长也回落;预测阶段用电量增速将大于GDP增速。</small>
                  </div>
                </article>
            </div>
            <div class="col-md-12" style="margin-top:0.7em;">
              <div class="btn-group dropdown">
                  <button class="btn btn-success cgq-fixed-buttonwidth" data-toggle="dropdown" aria-expanded="false">切换图表视图<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a ng-click="changeStyle(1)">曲线图</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="changeStyle(2)">直方图</a></li>
                    <li><a ng-click="changeStyle(3)">区域图</a></li>
                  </ul>
                </div>
              </div>
            <div class="col-md-12" style="margin-top:1em;">
              <button ng-click="showTables()" class="btn m-b-xs btn-primary cgq-fixed-buttonwidth" data-toggle="modal" data-target="">详细数据列表</button>
            </div>
            <div class="col-md-12" style="margin-top:0.7em;border-top:1px dashed lightblue;padding-top:1em;margin-bottom:1.7em;">

            <div class="btn-group dropdown">
                <button class="btn btn-success cgq-fixed-buttonwidth" data-toggle="dropdown" aria-expanded="false">选择年份<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                  <li><a ng-click="changeYear(18)">2018</a></li>                  
                  <li><a ng-click="changeYear(17)">2017</a></li>
                  <li><a ng-click="changeYear(16)">2016</a></li>
                  <li class="divider"></li>
                  <li><a ng-click="changeYear(15)">2015</a></li>                  
                  <li><a ng-click="changeYear(14)">2014</a></li>
                  <li><a ng-click="changeYear(13)">2013</a></li>
                  <li><a ng-click="changeYear(12)">2012</a></li>                  
                  <li><a ng-click="changeYear(11)">2011</a></li>
                  <li><a ng-click="changeYear(10)">2010</a></li>
                  <li><a ng-click="changeYear(9)">2009</a></li>                 
                  <li><a ng-click="changeYear(8)">2008</a></li>
                  <li><a ng-click="changeYear(7)">2007</a></li>
                  <li><a ng-click="changeYear(6)">2006</a></li>
                </ul>
              </div>
              <div style="font-family:'微软雅黑';font-size:80%;margin-top:0.3em">Tip:显示不同年份的分季度视图</div>
            </div>
          </div>
        </div>

        <!--下面一半-->
        <div class="col-md-12">
          <div class="col-md-4 chartshow" style="border-right:1px dashed #428bca;padding:1em">
            <highchart  id="singlechartvocation" config='SingleVocationChart'></highchart>
        </div>
        <div class="col-md-8" style="padding:0">
          <div class="col-md-6 chartshow" style="padding:1em">
              <highchart  id="singlechartvocation1" config='IndustryGdpChartBySeasonPie'></highchart>
          </div>
          <div class="col-md-6 chartshow" style="padding:1em;border-left:1px dashed #428bca;padding:1em">
              <highchart  id="singlechartvocation2" config='IndustryPowerChartBySeasonPie'></highchart>
          </div>
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped float-table-season" ng-if="isshow.isShowYearTable">
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                  <td><span style="color:orange">{{temptable.selectedyear}}</span>年<span style="color:rgb(100,214,40);">{{temptable.selectedindustry}}</span>数据：</td>
                  <td>第一季度</td>
                  <td>第二季度</td>
                  <td>第三季度</td>
                  <td>第四季度</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                  <td>GDP同比增长率(%)</td>
                  <td>{{temptable.season.gdp[0]}}</td>
                  <td>{{temptable.season.gdp[1]}}</td>
                  <td>{{temptable.season.gdp[2]}}</td>
                  <td>{{temptable.season.gdp[3]}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                  <td>工业用电量同比增长率(%)</td>
                  <td>{{temptable.season.power[0]}}</td>
                  <td>{{temptable.season.power[1]}}</td>
                  <td>{{temptable.season.power[2]}}</td>
                  <td>{{temptable.season.power[3]}}</td>
                </tr>
            </table>
        </div>
        </div>
      </div>
    </div>
</div>