<style>
  .sliderExample {
      width:100%;
    }
  .ui-slider-range { background: rgb(35,155,214); }
  .ui-slider-handle { border-color: rgb(35,155,214); }
</style>
<div class="vbox">
    <div class="wrapper lter b-b bg-white">
    <a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createNote()">税收收入预测</a>
      <div class="subview3_title">{{title}}</div>
  </div>

  <div class="wrapper  container" style="padding:0px;margin-top:1em;margin-bottom:2em">

    <div class="panel panel-primary">
      
      <div class="panel-heading">
          <div class="panel-title">
            年度税收收入分析预测
          </div>
      </div>

      <div class="row">

        <div class="col-md-8" style="border-right:1px solid">
          <highchart id="yearTaxChart"  config="yearTaxChart" />
        </div>
        <div class="col-md-4" style="padding:10px 30px 15px 15px">
         <div class="r  dker item hbox no-border" style="background-color:rgba(55,148,188,1);border-radius:8px">
                <div class="col w-xs v-middle hidden-md">
                  <div ng-init="d3_3=[60,40]" ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline">
                    <i class="fa fa-pie-chart fa-4x" style="color:white;margin-left:8%">
                     
                   </i>
                  </div>
                </div>
                <div class="col dk padder-v r-r">
                  <span class="text-xs" style="color:white">本年税收预测值:</span>
                  <div class="text-primary-dk font-thin h2"><span style="margin-left:15%;color:white;text-shadow:1px 2px 3px #000000">{{thisyearforecastvalue}}亿元</span></div>
                  <span class="text-xs"style="margin-left:45%;color:white">预测误差范围<span class="text-primary" style="color:white">2.7%</span></span>
                </div>
              </div>

                <article class="media cgq_contentwidth">
                  <div class="pull-left">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="icon-bulb fa-stack-1x text-white fa-spin"></i>
                    </span>
                    <span class="h4">一句话解读</span>
                  </div>
                  <div class="media-body clear">                    
                    <small class="block m-t-xs">{{totaldata.oneword}}</small>
                  </div>
                </article>
           <div style="margin-top:10px;width:98%;font-size:18px">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-left:5px">
              年度税收收入预测采用的是多元回归模型，通过该模型分析预测得出：本年的税收增速较往年的增速有所放缓
            </span>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Left Align ">
            <button class="btn btn-success" style="margin-top:30px" ng-click="changeViewsYear()">切换图标视图</button>
            <button class="btn btn-info" style="margin-top:10px" ng-click="checkdeviationYear()">查看预测误差记录</button>
            <button class="btn btn-info" style="margin-top:10px" ng-click="checkforecastYear()">查看预测详情</button>
            <button class="btn btn-info" style="margin-top:10px;color:white" ng-click="adjustParameterYear()">重置调节</button>
          </div>
        </div>
        <div class="col-md-12 table-responsive" style="margin-top:10px" ng-if="forecastYear">
          <table class="table table-bordered" style="font-size:90%">
            <tr>
              <th class="active" style="text-align:center;">年份(年)</th>
              <th class="active" style="text-align:center;">2006</th>
              <th class="active" style="text-align:center;">2007</th>
              <th class="active" style="text-align:center;">2008</th>
              <th class="active" style="text-align:center;">2009</th>
              <th class="active" style="text-align:center;">2010</th>
              <th class="active" style="text-align:center;">2011</th>
              <th class="active" style="text-align:center;">2012</th>
              <th class="active" style="text-align:center;">2013</th>
              <th class="active" style="text-align:center;">2014</th>
              <th class="active" style="text-align:center;">2015</th>
              <th class="active" style="text-align:center;">2016</th>
              <th class="active" style="text-align:center;">2017</th>
              <th class="active" style="text-align:center;">2018</th>
            </tr>
            <tr>
              <td class="info" style="text-align:center;">税收真实值(亿元)</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[0]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[1]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[2]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[3]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[4]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[5]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[6]}}</td>
             <td class="info" style="text-align:center;">{{taxthisyearrealvalue[7]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[8]}}</td>
              <td class="info" style="text-align:center;">{{taxthisyearrealvalue[9]}}</td>
              <td class="info" style="text-align:center;">--</td>
              <td class="info" style="text-align:center;">--</td>
              <td class="info" style="text-align:center;">--</td>
            </tr>
            <tr>
              <td class="info" style="text-align:center;">税收预测值(亿元)</td>
              <td class="info" style="text-align:center;">{{date[0]}}</td>
              <td class="info" style="text-align:center;">{{date[1]}}</td>
              <td class="info" style="text-align:center;">{{date[2]}}</td>
              <td class="info" style="text-align:center;">{{date[3]}}</td>
              <td class="info" style="text-align:center;">{{date[4]}}</td>
              <td class="info" style="text-align:center;">{{date[5]}}</td>
              <td class="info" style="text-align:center;">{{date[6]}}</td>
              <td class="info" style="text-align:center;">{{date[7]}}</td>
              <td class="info" style="text-align:center;">{{date[8]}}</td>
              <td class="info" style="text-align:center;">{{date[9]}}</td>
               <td class="info" style="text-align:center;">{{date[10]}}</td>
               <td class="info" style="text-align:center;">{{date[11]}}</td>
               <td class="info" style="text-align:center;">{{date[12]}}</td>            
            </tr>
          </table>
        </div>
         <div class="col-md-12 table-responsive" style="margin-top:10px" ng-if="deviationYear">
          <table class="table table-bordered" style="font-size:90%">
            <tr>
              <th class="active" style="text-align:center;">年份(年)</th>
             
              <th class="active" style="text-align:center;">2006</th>
              <th class="active" style="text-align:center;">2007</th>
              <th class="active" style="text-align:center;">2008</th>
              <th class="active" style="text-align:center;">2009</th>
              <th class="active" style="text-align:center;">2010</th>
              <th class="active" style="text-align:center;">2011</th>
              <th class="active" style="text-align:center;">2012</th>
              <th class="active" style="text-align:center;">2013</th>
              <th class="active" style="text-align:center;">2014</th>
              <th class="active" style="text-align:center;">2015</th>
              <th class="active" style="text-align:center;">2016</th>
              <th class="active" style="text-align:center;">2017</th>
               <th class="active" style="text-align:center;">2018</th>
            </tr>
            <tr>
              <td class="info" style="text-align:center;">预测误差</td>
              <td class="info" style="text-align:center;">2.8%</td>
              <td class="info" style="text-align:center;">3.3%</td>
              <td class="info" style="text-align:center;">3.2%</td>
              <td class="info" style="text-align:center;">2.0%</td>
              <td class="info" style="text-align:center;">1.7%</td>
              <td class="info" style="text-align:center;">4.4%</td>
              <td class="info" style="text-align:center;">3.1%</td>
              <td class="info" style="text-align:center;">2.7%</td>
              <td class="info" style="text-align:center;">2.6%</td>
              <td class="info" style="text-align:center;">2.8%</td>
              <td class="info" style="text-align:center;">--</td>
              <td class="info" style="text-align:center;">--</td>
              <td class="info" style="text-align:center;">--</td>
            </tr>
          </table>
        </div>
        
       </div>
 <div >
          <div class="row" >
                  <div class="col-md-1" style="padding:0px 0px 0px 20px">
                    <p class="handler-title" style="margin-top:15px;font-size:100%">固定资产投资</p>
                  </div>
                  <div class="col-md-3">
                     <div class="progress-box">
                       <div class="percentage-cur">
                         <span class="num">{{selectedRange}}%</span>
                       </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange"></div>
                      </div>
                     </div>
                  </div>
                  <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" ng-model="selectedRange"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
                  <div class="col-md-1" style="padding:0px 0px 0px 20px;margin-top:4px">
                    <p class="handler-title" style="margin-top:15px">财政支出</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange2=0">
                        <span class="num">{{selectedRange2}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange2"></div>
                      </div>
                    </div>
                 </div>
                <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" ng-model="selectedRange2"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon2"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
           </div>

           <div class="row">
                  <div class="col-md-1" style="padding:0px 0px 0px 20px">
                    <p class="handler-title" style="margin-top:15px">外贸进出口总额</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange3=0">
                        <span class="num">{{ selectedRange3}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange3"></div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" ng-model="selectedRange3"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon1"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
                  <div class="col-md-1" style="padding:0px 0px 0px 20px;margin-top:4px">
                    <p class="handler-title" style="margin-top:15px">GDP</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange4=0">
                        <span class="num">{{ selectedRange4}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                         <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange4"></div>
                        
                      </div>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon" ng-model="selectedRange4"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
           </div>
  </div>
    </div>



 

    <div class="panel panel-primary">
      
      <div class="panel-heading">
          <div class="panel-title">
            月度税收收入分析预测
          </div>
      </div>

      <div class="row">

        <div class="col-md-8" style="border-right:1px solid">
          <highchart id="monthTaxChart"  config="monthTaxChart" />
        </div>
        <div class="col-md-4" style="padding:10px 30px 15px 15px">
            <div class="r  dker item hbox no-border" style="background-color:rgba(55,148,188,1);border-radius:8px">
                <div class="col w-xs v-middle hidden-md">
                  <div ng-init="d3_3=[60,40]" ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline">
                     <i class="fa fa-bar-chart-o fa-4x" style="color:white;margin-left:8%">
                     
                   </i>
                  </div>
                </div>
                <div class="col dk padder-v r-r" >
                  <span class="text-xs" style="color:white">下月税收预测值:</span>
                  <div class="text-primary-dk font-thin h2"><span style="margin-left:15%;text-shadow:1px 2px 3px #000000;color:white">19.48亿元</span></div>
                  <span class="text-xs"style="margin-left:45%;color:white">预测误差范围<span class="text-primary"style="color:white">3.0%</span></span>
                </div>
              </div>

               <article class="media cgq_contentwidth">
                  <div class="pull-left">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="icon-bulb fa-stack-1x text-white fa-spin"></i>
                    </span>
                    <span class="h4" >一句话解读</span>
                  </div>
                  <div class="media-body clear">                    
                    <small class="block m-t-xs">{{totaldata.oneword}}</small>
                  </div>
                </article>
           <div style="margin-top:10px;width:98%;font-size:18px">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-left:5px">
              月度税收收入预测采用的是多元回归模型，通过该模型分析预测得出：本年的税收增速较往年的增速有所放缓
            </span>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Left Align ">
            <button class="btn btn-success" style="margin-top:30px" ng-click="changeViews()">切换图标视图</button>
            <button class="btn btn-info" style="margin-top:10px" ng-click="checkdeviation()">查看预测误差记录</button>
            <button class="btn btn-info" style="margin-top:10px" ng-click="checkforecast()">查看预测详情</button>
            <button class="btn btn-info" style="margin-top:10px;color:white" ng-click="adjustParameter()">重置调节</button>
          </div>
        </div>
        <div class="col-md-12 " style="margin-top:10px" ng-if="forecast">
          <table class="table table-bordered" style="font-size:90%">
            <tr>
              <th class="active" style="text-align:center;">月份</th>
              <th class="active" style="text-align:center;">2月</th>
              <th class="active" style="text-align:center;">3月</th>
              <th class="active" style="text-align:center;">4月</th>
              <th class="active" style="text-align:center;">5月</th>
              <th class="active" style="text-align:center;">6月</th>
              <th class="active" style="text-align:center;">7月</th>
              <th class="active" style="text-align:center;">8月</th>
              <th class="active" style="text-align:center;">9月</th>
              <th class="active" style="text-align:center;">10月</th>
              <th class="active" style="text-align:center;">11月</th>
              <th class="active" style="text-align:center;">12月</th>
            </tr>
            <tr>
              <td class="info" style="text-align:center;">税收真实值(亿元)</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[0]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[1]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[2]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[3]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[4]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[5]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[6]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[7]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[8]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[9]}}</td>
              <td class="info" style="text-align:center;">{{taxrealvalue[10]}}</td>
            </tr>
            <tr>
              <td class="info" style="text-align:center;">税收预测值(亿元)</td>
               <td class="info" style="text-align:center;">{{date2[0]}}</td>
              <td class="info" style="text-align:center;">{{date2[1]}}</td>
              <td class="info" style="text-align:center;">{{date2[2]}}</td>
              <td class="info" style="text-align:center;">{{date2[3]}}</td>
              <td class="info" style="text-align:center;">{{date2[4]}}</td>
              <td class="info" style="text-align:center;">{{date2[5]}}</td>
              <td class="info" style="text-align:center;">{{date2[6]}}</td>
              <td class="info" style="text-align:center;">{{date2[7]}}</td>
              <td class="info" style="text-align:center;">{{date2[8]}}</td>
              <td class="info" style="text-align:center;">{{date2[9]}}</td>
              <td class="info" style="text-align:center;">{{date2[10]}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-12" style="margin-top:10px" ng-if="deviation">
          <table class="table table-bordered" >
            <tr>
              <th class="active" style="text-align:center;">月份</th>
              <th class="active" style="text-align:center;">2月</th>
              <th class="active" style="text-align:center;">3月</th>
              <th class="active" style="text-align:center;">4月</th>
              <th class="active" style="text-align:center;">5月</th>
              <th class="active" style="text-align:center;">6月</th>
              <th class="active" style="text-align:center;">7月</th>
              <th class="active" style="text-align:center;">8月</th>
              <th class="active" style="text-align:center;">9月</th>
              <th class="active" style="text-align:center;">10月</th>
              <th class="active" style="text-align:center;">11月</th>
              <th class="active" style="text-align:center;">12月</th>
            </tr>
            <tr>
              <td class="info" style="text-align:center;">预测误差</td>
              <td class="info" style="text-align:center;">2.8%</td>
              <td class="info" style="text-align:center;">3.3%</td>
              <td class="info" style="text-align:center;">3.2%</td>
              <td class="info" style="text-align:center;">2.0%</td>
              <td class="info" style="text-align:center;">1.7%</td>
              <td class="info" style="text-align:center;">4.4%</td>
              <td class="info" style="text-align:center;">3.1%</td>
              <td class="info" style="text-align:center;">2.7%</td>
              <td class="info" style="text-align:center;">2.6%</td>
              <td class="info" style="text-align:center;">2.8%</td>
              <td class="info" style="text-align:center;">3.0%</td>
            </tr>
          </table>
        </div>

      </div>
<div >
          <div class="row" >
                  <div class="col-md-1" style="padding:0px 0px 0px 20px;margin-top:4px">
                    <p class="handler-title" style="margin-top:15px">固定资产投资</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange=0">
                        <span class="num">{{ monthselectedRange}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%;margin-top:1%">
                       <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="monthselectedRange"></div>
                      </div>
                    </div>

                  </div>
                 <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon5" ng-model="monthselectedRange"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon5"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
                  <div class="col-md-1" style="padding:0px 0px 0px 20px;margin-top:4px">
                    <p class="handler-title" style="margin-top:15px">财政支出</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange2=0">
                        <span class="num">{{ monthselectedRange2}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%;margin-top:1%">
                         <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="monthselectedRange2"></div>
                      </div>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon6" ng-model="monthselectedRange2"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon6"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
           </div>
           <div class="row">
                  <div class="col-md-1" style="padding:0px 0px 0px 20px;margin-top:4px">
                    <p class="handler-title" style="margin-top:15px">外贸进出口总额</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange3=0">
                        <span class="num">{{ monthselectedRange3}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%;margin-top:1%">
                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="monthselectedRange3"></div>
                      </div>
                    </div>

                  </div>
                   <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon7" ng-model="monthselectedRange3"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon7"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
                  <div class="col-md-1" style="padding:0px 0px 0px 20px;margin-top:4px">
                    <p class="handler-title" style="margin-top:15px">GDP</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange4=0">
                        <span class="num">{{ monthselectedRange4}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%;margin-top:1%">
                       <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="monthselectedRange4"></div>
                      </div>
                    </div>
                 </div>
                <div class="col-md-2">
                    <div class="input-group input-group-sm" style="width:50%;margin-top:17px;">
                      
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon9" ng-model="monthselectedRange4"attern="((-)?[0-9]{1,2}|100|-100)"  />
                      <span class="input-group-addon" id="sizing-addon9"style="padding:0px 2px 0px 2px">%</span>
                    </div>
                  </div>
           </div>
  </div>
    </div>

