<div class="vbox cgq_fontsize" style="margin-bottom:5em">
	<!--topbar-->
    <div class="wrapper lter b-b bg-white">
		
   		<div class="subview3_title">{{title}}</div>
 	</div>

 	<!--企业用电量与经济增长关联分析————————————————————————————————————————————————————————————————————————————————————————————————————————————-->
	<div class="wrapper bg-white container space-top" style="margin-bottom:0;">
	    <div class="row">
	      <!--标题-->
	      <div class="col-md-12 topbar">
	      	<h4 class="cgq_title">工业用电量与GDP增长率关联分析</h4>
	      </div>
	      <!--highchart-->
	      <div class="col-md-8 chartshow">
	        <highchart   id="charttotal" config="TotalPowerGDPChart" ></highchart>
	      </div>
	      <!--Menu side-->
	      <div class="col-md-4 menustructer">
	      	<div>
		      	<div class="col-md-12" style="padding-top:0.5em">
	            	<div class="block panel padder-v cgq_bg-lightgreen item cgq_marginaround1em cgq_contentwidth">
		                <span class="text-white font-thin h1 block">{{totaldata.powergrowthrate}}%</span>
		                <span class="text-xs">{{totaldata.year}}年工业用电量增长率预测值</span>
		                	<i class="glyphicon glyphicon-send" aria-hidden="true"></i>                                                                                                              
		            </div>
	            </div>
	            <div class="col-md-12 ">
	            	<div class="block panel padder-v cgq_bg-lightyellow item cgq_marginaround1em cgq_contentwidth">
		                <span class="text-white font-thin h1 block">{{totaldata.gdpgrowthrate}}%</span>
		                <span class="text-xs">{{totaldata.year}}年GDP增长率预测值</span>
		                	<i class="glyphicon glyphicon-send" aria-hidden="true"></i>
		                </span>
	              	</div>
	            </div>
	      		<div class="col-md-12 cgq_marginaround1em" style="margin-top:1em">
					<article class="media cgq_contentwidth">
			            <div class="pull-left">
			              <span class="fa-stack fa-lg">
			                <i class="fa fa-circle fa-stack-2x text-info"></i>
			                <i class="icon-bulb fa-stack-1x text-white"></i>
			              </span>
			              <span class="h4">一句话解读</span>
			            </div>
			            <div class="media-body clear">			              
			              <small class="block m-t-xs">{{totaldata.oneword}}</small>
			            </div>
          			</article>
	      		</div>

	      		<div class="col-md-12 cgq_marginaround1em">
				    <div class="btn-group dropdown">
			        	<button class="btn btn-success cgq-fixed-buttonwidth" data-toggle="dropdown" aria-expanded="false">切换图表视图<span class="caret"></span></button>
			          	<ul class="dropdown-menu">
			            <li><a ng-click="changeTotalChart('spline')">曲线图</a></li>
			            <li class="divider"></li>
			            <li><a ng-click="changeTotalChart('column')">直方图</a></li>
			            <li><a ng-click="changeTotalChart('area')">区域图</a></li>
			          </ul>
			        </div>
	      		</div>
	      		<div class="col-md-12 cgq_marginaround1em">
	      			<button ng-click="showTotalTable()" class="btn m-b-xs btn-primary cgq-fixed-buttonwidth">详细数据列表</button>
	      		</div>
	      		
	      	</div>
	      </div>
	    </div>
    </div>
    <div class="bg-white container padding0em" style="border-top:0" ng-if="totalshow">
    	<div class="panel panel-default paddingmargin0em" >
	    	<div class="panel-heading">数据详情</div>  
		    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
			      <tr st-select-row="row" class="ng-scope ng-isolate-scope">
			      	<td>年份</td>
			        <td ng-repeat="year in totaldata.yearvalue">{{year}}</td>
			      </tr>
			      <tr st-select-row="row" class="ng-scope ng-isolate-scope">
			      	<td>GDP同比增长率</td>
			        <td ng-repeat="gdp in totaldata.gdprate">{{gdp}}</td>
			      </tr>
			      <tr st-select-row="row" class="ng-scope ng-isolate-scope">
			      	<td>工业用电量同比增长率</td>
			        <td ng-repeat="power in totaldata.powerrate">{{power}}</td>
			      </tr>
		    </table>
  		</div>
    </div>

    <!--用电量增长率与行业产值增长率分析预测————————————————————————————————————————————————————————————————————————————————————————————————————————————-->
    <div class="wrapper bg-white container space-top">
	    <div class="row">
	      <!--标题-->
	      <div class="col-md-12 topbar">
	      	<h4 class="cgq_title">行业用电量增长率与产值增长率关联分析</h4>
	      </div>
	      <!--highchart图表-->
	      <div class="col-md-8 chartshow"  ng-if="vocationdata.isshowchartvocation">
	        <highchart   id="chartvocation" config='VocationChart'></highchart>
	      </div>
	      <div class="col-md-8 chartshow" ng-if="vocationdata.isshowsinglechartvocation">
	        <highchart  id="singlechartvocation" config='SingleVocationChart'></highchart>
	      </div>
	      <div class="col-md-8 chartshow" ng-if="vocationdata.isshowsinglechartvocationbyyear">
	        <highchart  id="singlechartvocationbyyear" config='SingleVocationChartByYear'></highchart>
	      </div>
	      <!---->
	      <div class="col-md-4 cgq_menustructer">
	      	<div class="col-md-12 cgq_botomline">
	      		<p><span class="glyphicon glyphicon-th-list"> 总体视图</span></p>
	      		<div class="col-md-6">
	      			<div class="btn-group dropdown">
			        	<button class="btn btn-success cgq_fixedwidth" data-toggle="dropdown" aria-expanded="false">选择年份<span class="caret"></span></button>
			        	<!--ng-repeat选择年份-->
			          	<ul class="dropdown-menu">
				            <li ng-repeat="element in vocationdata.total.years">
				            	<a ng-click="changeTotalYear(element.year)">{{element.year}}</a>
				            </li>
			            </ul>
			    	</div>		
	      		</div>
	      	</div>
	      	<div class="col-md-12 cgq_botomdashed">
	      		<p><span class="glyphicon glyphicon-th-list"> 行业视图</span></p>
	      		<div class="col-md-6">
	      			<h5>按年份显示</h5>
	      			<button ng-click="changeToSingleVocationChartByyear()" class="btn m-b-xs btn-primary cgq_fixedwidth">年份视图</button>
	      		</div>
	      		<div class="col-md-6">
	      			<h5>按季度显示</h5>
	      			<div class="btn-group dropdown ">
			        	<button class="btn btn-success cgq_fixedwidth" data-toggle="dropdown" aria-expanded="false">选择年份<span class="caret"></span></button>
			        	<ul class="dropdown-menu">  
				            <li ng-repeat="element in vocationdata.yearrange"><a ng-click="changeVocationYear(element.year)">{{element.year}}</a></li>
			            </ul>
			    	</div>		
	      		</div>
	      	</div>
	      	<div class="col-md-12 cgq_botomline">
	      		<p><span class="glyphicon glyphicon-th"> 选择行业</span></p>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(1)" class="btn m-b-xs btn-primary  cgq_fixedwidth">农林牧渔</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(2)" class="btn m-b-xs btn-primary  cgq_fixedwidth">工业</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(3)" class="btn m-b-xs btn-primary  cgq_fixedwidth">建筑业</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(4)" class="btn m-b-xs btn-primary  cgq_fixedwidth">交运仓储邮政</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(5)" class="btn m-b-xs btn-primary  cgq_fixedwidth">信息计算机软件</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(6)" class="btn m-b-xs btn-primary  cgq_fixedwidth">批发零售住宿餐饮</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(7)" class="btn m-b-xs btn-primary  cgq_fixedwidth">金融房地产商务</button>
	      		</div>
	      		<div class="col-md-6">
	      			<button ng-click="changeVocationType(8)" class="btn m-b-xs btn-primary  cgq_fixedwidth">公共事业</button>
	      		</div>
	      	</div>
	      	<div class="col-md-12">
		      	<div class="col-md-6 cgq_paddingtop1em">
	      			<button ng-click="" class="btn m-b-xs btn-primary cgq_fixedwidth">详细数据列表</button>
	      		</div>
      		</div>
	      </div>
	    </div>
    </div>
    <!--End of Vocation-->

    <!--规模以上企业用电量增长率与产值增长率分析预测————————————————————————————————————————————————————————————————————————————————————————————————————————————-->
    <div class="wrapper bg-white container space-top" style="margin-bottom:0em;">
	    <div class="row">
	      <!--标题-->
	      <div class="col-md-12 topbar">
	      	<h4 class="cgq_title">规模以上企业用电量与企业产值增长率关联分析</h4>
	      </div>
	      <!--highchart-->
	      <div class="col-md-8 chartshow">
	        <highchart   id="chartenterprise" config="AverageEnterpriseChartByYear" ></highchart>
	      </div>
	      <!--Menu side-->
	      <div class="col-md-4 menustructer">
	      	<div>
		      	<div class="col-md-12 ">
	            	<div class="block panel padder-v cgq_bg-lightgreen item cgq_marginaround1em cgq_contentwidth">
		                <span class="text-white font-thin h1 block">{{averageenterprisedata.powergrowthrate}}</span>
		                <span class="text-xs">{{averageenterprisedata.year}}年企业用电量增长率预测值</span>
		                	<i class="glyphicon glyphicon-send" aria-hidden="true"></i>                                                                                                              
		            </div>
	            </div>
	            <div class="col-md-12 ">
	            	<div class="block panel padder-v cgq_bg-lightyellow item cgq_marginaround1em cgq_contentwidth">
		                <span class="text-white font-thin h1 block">{{averageenterprisedata.gdpgrowthrate}}</span>
		                <span class="text-xs">{{averageenterprisedata.year}}年产值增长率预测值</span>
		                	<i class="glyphicon glyphicon-send" aria-hidden="true"></i>
		                </span>
	              	</div>
	            </div>
	      		<div class="col-md-12 cgq_marginaround1em">
					<article class="media cgq_contentwidth">
			            <div class="pull-left">
			              <span class="fa-stack fa-lg">
			                <i class="fa fa-circle fa-stack-2x text-info"></i>
			                <i class="fa fa-file-o fa-stack-1x text-white"></i>
			              </span>
			            </div>
			            <div class="media-body">
			              <span class="h4">一句话解读</span>
			              <small class="block m-t-xs">{{averageenterprisedata.oneword}}</small>
			            </div>
          			</article>
	      		</div>

	      		<div class="col-md-12 cgq_marginaround1em" style="margin-bottom:0.5em">
				    <div class="btn-group dropdown">
			        	<button class="btn btn-success" data-toggle="dropdown" aria-expanded="false">切换图表视图<span class="caret"></span></button>
			          	<ul class="dropdown-menu">
			            <li><a ng-click="changeAverageEnterpriseChart('spline')">曲线图</a></li>
			            <li class="divider"></li>
			            <li><a ng-click="changeAverageEnterpriseChart('column')">柱状图</a></li>
			            <li><a ng-click="changeAverageEnterpriseChart('area')">区域图</a></li>
			          </ul>
			        </div>
	      		</div>
	      		<div class="col-md-12 cgq_marginaround1em">
	      			<button ng-click="showAverageEnterpriseTable()" class="btn m-b-xs btn-primary">详细数据列表</button>
	      		</div>
	      		<div class="col-md-12 cgq_marginaround1em-top">
	      			<button ui-sref="app.index.economy.powerconsumptionofenterprises({title:'各企业用电量与经济增长关联分析'})" class="btn m-b-xs btn-primary ">查看企业详情</button>
	      		</div>
	      	</div>
	      </div>
	    </div>
    </div>
    <div class="bg-white container padding0em" ng-if="averageenterprisetableshow" style="margin-bottom:2em;">
    	<div class="panel panel-default" style="margin-bottom:0em;">
	    	<div class="panel-heading">数据详情</div>  
		    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
			      <tr st-select-row="row" class="ng-scope ng-isolate-scope">
			        <td ng-repeat="year in averageenterprisedata.tabledata">{{year.yearvalue}}</td>
			      </tr>
			      <tr st-select-row="row" class="ng-scope ng-isolate-scope">
			        <td ng-repeat="gdp in totaldata.tabledata">{{gdp.gdprate}}</td>
			      </tr>
			      <tr st-select-row="row" class="ng-scope ng-isolate-scope">
			        <td ng-repeat="power in totaldata.tabledata">{{power.powerrate}}</td>
			      </tr>
		    </table>
  		</div>
    </div>

</div>












