<div class="vbox">
    <div class="wrapper lter b-b bg-white">
		<a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createNote()">GDP分析预测</a>
   		<div class="subview3_title">{{title}}</div>
 	</div>

	<div class="wrapper container" style="padding:0px;margin-top:1em;margin-bottom:2em" >
  <div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
          年度GDP预测分析
        </div>
      
    </div>
  <div class="row">
    <div class="col-md-8" style="border-right:1px solid;padding-top:10px;padding-bottom:10px">
      <highchart   id="chart1" config="yearGDPChart"  style="margin-left:15px"></highchart>
    </div>
    <div class="col-md-4" style="padding:10px 30px 15px 15px">
      <div class="r  dker item hbox no-border" style="background-color:rgba(55,148,188,1);border-radius:10px">
                <div class="col w-xs v-middle hidden-md">
                  <div ng-init="d3_3=[60,40]" ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline">
                     <i class="fa fa-area-chart fa-4x" style="color:white;margin-left:8%">
                     
                   </i>
                  </div>
                </div>
                <div class="col dk padder-v r-r">
                  <span class="text-xs"style="color:white">当年GDP预测值:</span>
                  <div class="text-primary-dk font-thin h2"><span style="margin-left:15%;color:white;text-shadow:1px 2px 3px #000000">1152.67亿元</span></div>
                  <span class="text-xs"style="margin-left:45%;color:white">预测误差范围<span class="text-primary"style="color:white">3%</span></span>
                </div>
              </div>
              <article class="media cgq_contentwidth">
                  <div class="pull-left">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="icon-bulb fa-stack-1x text-white fa-spin"></i>
                    </span>
                    <span class="h4">一句话解读</span>
                  </div>
                  <div class="media-body clear">                    
                    <small class="block m-t-xs">{{totaldata.oneword}}</small>
                  </div>
                </article>
      <!--改成了div-->
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
          <strong>年度GDP预测采用的是基于时间序列的ARIMA模型，通过该模型分析预测得出：本年GDP增速较往年有所放缓。</strong>
          
        </span>
     

      <div class="btn-group-vertical" role="group" aria-label="Left Align ">
      <div class="btn-group" style="margin-top:10%">
         <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           切换图表视图 <span class="caret"></span>
         </button>
          <ul class="dropdown-menu">
             <li><a ng-click="exchange('spline')">曲线图</a></li>
             <li><a ng-click="exchange('column')">直方图</a></li>
             <li><a ng-click="exchange('line')">折线图</a></li>
             <li><a ng-click="exchange('area')">区域图</a></li>
          </ul>
     </div>
      <button class="btn btn-info btn-rounded" style="margin-top:10%" ng-click="checkdeviation()">查看预测误差记录</button>
      <button class="btn btn-info" style="margin-top:10%" ng-click="checkforecast()">查看预测详情</button>
      </div>
    </div>
     <div class="col-md-12" style="margin-top:10px" ng-if="deviation">
    <table class="table table-bordered table-responsive" >
        <tr>
          <th class="active" style="text-align:center;">年份</th>
          <th class="active" style="text-align:center;">2006</th>
          <th class="active" style="text-align:center;">2007</th>
          <th class="active" style="text-align:center;">2008</th>
          <th class="active" style="text-align:center;">2009</th>
          <th class="active" style="text-align:center;">2010</th>
          <th class="active" style="text-align:center;">2011</th>
          <th class="active" style="text-align:center;">2012</th>
          <th class="active" style="text-align:center;">2013</th>
          <th class="active" style="text-align:center;">2014</th>
          <th class="active" style="text-align:center;">2015</th>
          <th class="active" style="text-align:center;">2016</th>
          <th class="active" style="text-align:center;">2017</th>
        </tr>
        <tr>
          <td class="info" style="text-align:center;">GDP预测误差</td>
          <td class="info" style="text-align:center;">3.3%</td>
          <td class="info" style="text-align:center;">3.4%</td>
          <td class="info" style="text-align:center;">3.1%</td>
          <td class="info" style="text-align:center;">3.2%</td>
          <td class="info" style="text-align:center;">2.8%</td>
          <td class="info" style="text-align:center;">2.9%</td>
          <td class="info" style="text-align:center;">3.0%</td>
          <td class="info" style="text-align:center;">3.1%</td>
          <td class="info" style="text-align:center;">3.2%</td>
          <td class="info" style="text-align:center;">--</td>
          <td class="info" style="text-align:center;">--</td>
          <td class="info" style="text-align:center;">--</td>
        </tr>

      </table>
      
    </div>
    <div class="col-md-12 table-responsive" style="margin-top:10px;"  ng-if="forecast">
    <table class="table table-bordered" >
        <tr>
          <th class="active" style="text-align:center;">年份</th>
          <th class="active" style="text-align:center;">2006</th>
          <th class="active" style="text-align:center;">2007</th>
          <th class="active" style="text-align:center;">2008</th>
          <th class="active" style="text-align:center;">2009</th>
          <th class="active" style="text-align:center;">2010</th>
          <th class="active" style="text-align:center;">2011</th>
          <th class="active" style="text-align:center;">2012</th>
          <th class="active" style="text-align:center;">2013</th>
          <th class="active" style="text-align:center;">2014</th>
          <th class="active" style="text-align:center;">2015</th>
          <th class="active" style="text-align:center;">2016</th>
          <th class="active" style="text-align:center;">2017</th>
        </tr>
        <tr>
          <td class="info" style="text-align:center;">GDP真实值(亿元)</td>
          <td class="info" style="text-align:center;">440.2</td>
          <td class="info" style="text-align:center;">528.0</td>
          <td class="info" style="text-align:center;">612.1</td>
          <td class="info" style="text-align:center;">730.3</td>
          <td class="info" style="text-align:center;">867.5</td>
          <td class="info" style="text-align:center;">955.1</td>
          <td class="info" style="text-align:center;">1002.2</td>
          <td class="info" style="text-align:center;">1065.3</td>
          <td class="info" style="text-align:center;">1065.3</td>
          <td class="info" style="text-align:center;">--</td>
          <td class="info" style="text-align:center;">--</td>
          <td class="info" style="text-align:center;">--</td>
        </tr>
         <tr>
          <td class="info" style="text-align:center;">GDP预测值(亿元)</td>
          <td class="info" style="text-align:center;">328.2</td>
          <td class="info" style="text-align:center;">453.1</td>
          <td class="info" style="text-align:center;">547.8</td>
          <td class="info" style="text-align:center;">602.8</td>
          <td class="info" style="text-align:center;">758.9</td>
          <td class="info" style="text-align:center;">890.7</td>
          <td class="info" style="text-align:center;">991.4</td>
          <td class="info" style="text-align:center;">1025.6</td>
          <td class="info" style="text-align:center;">1098.3</td>
          <td class="info" style="text-align:center;">1152.6</td>
          <td class="info" style="text-align:center;">1218.9</td>
          <td class="info" style="text-align:center;">1298.0</td>
        </tr>
      </table>
      
    </div>
  </div>
 </div>
 <div class="panel panel-primary" style="margin-top:30px">
    <div class="panel-heading">
        <div class="panel-title">
          季度GDP预测分析
        </div>
      
    </div>
  <div class="row">
    <div class="col-md-8" style="border-right:1px solid;padding-top:10px;padding-bottom:10px">
      <highchart   id="chart1" config="monthGDPChart" style="margin-left:15px"></highchart>
    </div>
    <div class="col-md-4" style="padding:10px 30px 15px 15px">
      <div class="r  dker item hbox no-border" style="background-color:rgba(55,148,188,1);border-top-left-radius:10px;border-top-right-radius:10px">

                <div class="col w-xs v-middle hidden-md">
                  <div ng-init="d3_3=[60,40]" ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline">
                   <i class="fa fa-line-chart fa-4x" style="color:white;margin-left:8%">
                     
                   </i>
                  </div>
                </div>
                <div class="col dk padder-v r-r">
                 <span class="text-xs"style="color:white">下季度GDP预测值:</span>
                  <div class="text-primary-dk font-thin h2"><span style="margin-left:15%;color:white;color:white;text-shadow:1px 2px 3px #000000">1152.67亿元</span></div>
                  <span class="text-xs"style="margin-left:45%;color:white">预测误差范围<span class="text-primary" style="color:white">3%</span></span>

                </div>
              </div>
               <div class="r  dker item hbox no-border" style="background-color:rgba(55,148,188,1);border-bottom-left-radius:10px;border-bottom-right-radius:10px">

                
                <div class="col dk padder-v r-r">
                 <span class="text-xs" style="margin-left:10%;color:white">至第三季度结束,GDP为<span class="text font-thin h3"style="color:white;color:white;text-shadow:1px 2px 3px #000000">820.75</span>亿元</span>
                  <div class="text font-thin h5" style="margin-left:10%"><span style="color:white">距完成年度GDP目标还差:<span class="text font-thin h3"style="color:white;text-shadow:1px 2px 3px #000000">329.25</span>亿元</span></div>
                 </span></span>
                </div>
              </div>
                <article class="media cgq_contentwidth">
                  <div class="pull-left">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="icon-bulb fa-stack-1x text-white fa-spin"></i>
                    </span>
                    <span class="h4">一句话解读</span>
                  </div>
                  <div class="media-body clear">                    
                    <small class="block m-t-xs">{{totaldata.oneword}}</small>
                  </div>
                </article>
      <!--button不可以自动换行-->
      <div style="margin-top:10px;width:90%;font-size:18px">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
          <strong>季度GDP预测采用的是基于时间序列的ARIMA模型，通过该模型分析预测得出：第四季度经济增速保持稳定。</strong>
        </span>
      </div>
      <div class="btn-group-vertical" role="group" aria-label="Left Align ">
     <div class="btn-group" style="margin-top:5px">
         <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           切换图表视图 <span class="caret"></span>
         </button>
          <ul class="dropdown-menu">
             <li><a ng-click="monthexchange('spline')">曲线图</a></li>
             <li><a ng-click="monthexchange('column')">直方图</a></li>
             <li><a ng-click="monthexchange('line')">折线图</a></li>
             <li><a ng-click="monthexchange('area')">区域图</a></li>
          </ul>
     </div>
      <button class="btn btn-info" style="margin-top:5px" ng-click="monthcheckdeviation()">查看预测误差记录</button>
      <button class="btn btn-info" style="margin-top:5px" ng-click="monthcheckforecast()">查看预测详情</button>
      </div>
    </div>
    <div class="col-md-12" style="margin-top:10px" ng-if="monthforecast">
      <table class="table table-bordered" >
        <tr>
          <th class="active" style="text-align:center;">季度</th>
          <th class="active" style="text-align:center;">第一季度</th>
          <th class="active" style="text-align:center;">第二季度</th>
          <th class="active" style="text-align:center;">第三季度</th>
          <th class="active" style="text-align:center;">第四季度</th>
        </tr>
        <tr>
          <td class="info" style="text-align:center;">GDP真实值(亿)</td>
          <td class="info" style="text-align:center;">225.51</td>
          <td class="info" style="text-align:center;">555.72</td>
          <td class="info" style="text-align:center;">849.66</td>
          <td class="info" style="text-align:center;">-</td>
        </tr>
        <tr>
          <td class="info" style="text-align:center;">GDP预测值(亿)</td>
          <td class="info" style="text-align:center;">248.77</td>
          <td class="info" style="text-align:center;">541.86</td>
          <td class="info" style="text-align:center;">867.74</td>
          <td class="info" style="text-align:center;">1152.67</td>
        </tr>

      </table>
    </div>
    <div class="col-md-12" style="margin-top:10px" ng-if="monthdeviation">
    <table class="table table-bordered" >
        <tr>
          <th class="active" style="text-align:center;">季度</th>
          <th class="active" style="text-align:center;">第一季度</th>
          <th class="active" style="text-align:center;">第二季度</th>
          <th class="active" style="text-align:center;">第三季度</th>
          <th class="active" style="text-align:center;">第四季度</th>
        </tr>
        <tr>
          <td class="info" style="text-align:center;">误差</td>
          <td class="info" style="text-align:center;">3.5%</td>
          <td class="info" style="text-align:center;">2.7%</td>
          <td class="info" style="text-align:center;">3.3%</td>
          <td class="info" style="text-align:center;">3.0%</td>
        </tr>

      </table>
      
    </div>
  </div>
 </div>
 <div class="panel panel-primary" style="margin-top:30px">
    <div class="panel-heading">
        <div class="panel-title">
          分产业GDP预测分析
        </div>
      
    </div>
  <div class="row">
    <div class="col-md-8" style="border-right:1px solid;padding-top:10px;padding-bottom:10px">
      <highchart   id="chart1" config="industryyearGDPChart" style="margin-left:15px"></highchart>
    </div>
     <div class="col-md-4" style="padding:10px 30px 15px 15px">
      <div class="r  dker item hbox no-border" style="background-color:rgba(55,148,188,1);border-radius:10px">
                <div class="col w-xs v-middle hidden-md">
                  <div ng-init="d3_3=[60,40]" ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:40, sliceColors:['#fad733','#fff']}" class="sparkline inline">
                     <i class="fa fa-bar-chart-o fa-4x" style="color:white;margin-left:5%">
                     
                     </i>
                  </div>
                </div>
                <div class="col dk padder-v r-r">
                  <span class="text-xs" style="color:white">全行业预测值:</span>
                  <div class="text-primary-dk font-thin h2"><span style="margin-left:15%;color:white;color:white;text-shadow:1px 2px 3px #000000">1152.67亿元</span></div>
                  <span class="text-xs"style="margin-left:45%;color:white">预测误差范围<span class="text-primary"style="color:white">3%</span></span>
                </div>
              </div>
                <article class="media cgq_contentwidth">
                  <div class="pull-left">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="icon-bulb fa-stack-1x text-white fa-spin"></i>
                    </span>
                    <span class="h4">一句话解读</span>
                  </div>
                  <div class="media-body clear">                    
                    <small class="block m-t-xs">{{totaldata.oneword}}</small>
                  </div>
                </article>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-top:10px">
          <strong>分产业GDP预测采用的是基于时间序列的ARIMA模型，通过该模型分析预测得出：全行业经济增速较往年有所放缓。</strong>
        </span>
 
      <div class="btn-group-vertical" role="group" aria-label="Left Align " style="margin-top:40px">
      <div class="btn-group">
         <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           切换图表视图 <span class="caret"></span>
         </button>
          <ul class="dropdown-menu">
             <li><a ng-click="industryexchange('spline')">曲线图</a></li>
             <li><a ng-click="industryexchange('column')">柱状图</a></li>
             <li><a ng-click="industryexchange('line')">折线图</a></li>
             <li><a ng-click="industryexchange('area')">区域图</a></li>
          </ul>
     </div>
      <button class="btn btn-info" style="margin-top:20px" ng-click="industrycheckdetail()">查看本年度各产业详细分析</button>
     
    </div>
    <div class="col-md-12" style="margin-top:8px" ng-if="industryforecast">
      <table class="table table-condensed" >
        <tr>
          <th class="active">季度</th>
          <th class="active">第一季度</th>
          <th class="active">第二季度</th>
          <th class="active">第三季度</th>
          <th class="active">第四季度</th>
        </tr>
        <tr>
          <td class="success">GDP(亿元)</td>
          <td class="success">5200</td>
          <td class="success">6700</td>
          <td class="success">6800</td>
          <td class="success">6900</td>
        </tr>

      </table>
    </div>
    <div class="col-md-12" style="margin-top:10px" ng-if="industrydeviation">
    <table class="table table-condensed" >
        <tr>
          <th class="active">季度</th>
          <th class="active">第一季度</th>
          <th class="active">第二季度</th>
          <th class="active">第三季度</th>
          <th class="active">第四季度</th>
        </tr>
        <tr>
          <td class="success">GDP预测数据</td>
          <td class="success">7322</td>
          <td class="success">7456</td>
          <td class="success">7435</td>
          <td class="success">7443</td>
        </tr>

      </table>
      
    </div>
  </div>
 </div> 
 </div>
 <div class="panel panel-primary" style="margin-top:30px" ng-if="industrydetail">
   <div class="panel-heading">
        <div class="panel-title">
          本年度各产业分析预测
        </div>
      
    </div>
    <div class="row">
      <div class="col-md-4" style="border-right:1px solid">
         <highchart    config="primaryGDPChart" ></highchart>
      </div>
      <div class="col-md-4" style="border-right:1px solid">
         <highchart    config="secondGDPChart" ></highchart>
      </div>
      <div class="col-md-4">
         <highchart    config="thirdGDPChart" ></highchart>
      </div>
    </div>
</div>
</div>
