<div class="vbox">
    <div class="wrapper lter b-b bg-white">
    <a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createNote()">税收收入预测</a>
      <div class="subview3_title">{{title}}</div>
  </div>

  <div class="wrapper  container" style="padding:0px;margin-top:1em;margin-bottom:2em">

    <div class="panel panel-primary">
      
      <div class="panel-heading">
          <div class="panel-title">
            年度税收收入分析预测
          </div>
      </div>

      <div class="row">

        <div class="col-md-8" style="border-right:1px solid">
          <highchart id="yearTaxChart"  config="yearTaxChart" />
        </div>
        <div class="col-md-4" style="padding:10px 30px 15px 15px">
      <div class="hbox bg-primary ">
              <div class="col wrapper">
                <span>本年税收预测值</span>
                <div class="h1 text-info font-thin" style="text-align:center;margin-top:10%">117.52</div>
              </div>
              <div class="col wrapper bg-info">
                <span>预测误差范围</span>
                <div class="h1 text-warning font-thin" style="margin-top:10%;text-align:center">2.5%</div>
              </div>
            </div>

          <button class="btn btn-primary" style="width:38%;margin-top:15%">一句话解读</button>
           <div style="margin-top:10px;width:98%;border:1px solid lightgrey;font-size:18px">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
              <strong>本年的税收增速较往年的增速有所放缓</strong>
            </span>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Left Align ">
            <button class="btn btn-success" style="margin-top:30px" ng-click="changeViewsYear()">切换图标视图</button>
            <button class="btn btn-warning" style="margin-top:10px" ng-click="checkdeviationYear()">查看预测误差记录</button>
            <button class="btn btn-info" style="margin-top:10px" ng-click="checkforecastYear()">查看预测详情</button>
            <button class="btn btn-primary" style="margin-top:10px" ng-click="adjustParameterYear()">重置调节</button>
          </div>
        </div>
        <div class="col-md-12 table-responsive" style="margin-top:10px" ng-if="forecastYear">
          <table class="table table-bordered" style="font-size:90%">
            <tr>
              <th class="active">年份(年)</th>
              <th class="active">2005</th>
              <th class="active">2006</th>
              <th class="active">2007</th>
              <th class="active">2008</th>
              <th class="active">2009</th>
              <th class="active">2010</th>
              <th class="active">2011</th>
              <th class="active">2012</th>
              <th class="active">2013</th>
              <th class="active">2014</th>
              <th class="active">2015</th>
              <th class="active">2016</th>
              <th class="active">2017</th>
            </tr>
            <tr>
              <td class="info">税收真实值(亿元)</td>
              <td class="info">18.9</td>
              <td class="info">27.5</td>
              <td class="info">36.2</td>
              <td class="info">48.1</td>
              <td class="info">58.8</td>
              <td class="info">62.0</td>
              <td class="info">68.4</td>
              <td class="info">75.5</td>
              <td class="info">82.3</td>
              <td class="info">90.7</td>
              <td class="info">--</td>
              <td class="info">--</td>
              <td class="info">--</td>
            </tr>
            <tr>
              <td class="info">税收预测值(亿元)</td>
              <td class="info">19.3</td>
              <td class="info">29.5</td>
              <td class="info">39.6</td>
              <td class="info">51.6</td>
              <td class="info">62.21</td>
              <td class="info">65.14</td>
              <td class="info">71.83</td>
              <td class="info">77.34</td>
              <td class="info">83.34</td>
              <td class="info">90.24</td>
              <td class="info">96.52</td>
              <td class="info">103.43</td>
              <td class="info">110.02</td>
            </tr>
          </table>
        </div>
         <div class="col-md-12 table-responsive" style="margin-top:10px" ng-if="deviationYear">
          <table class="table table-bordered" style="font-size:90%">
            <tr>
              <th class="active">年份(年)</th>
              <th class="active">2005</th>
              <th class="active">2006</th>
              <th class="active">2007</th>
              <th class="active">2008</th>
              <th class="active">2009</th>
              <th class="active">2010</th>
              <th class="active">2011</th>
              <th class="active">2012</th>
              <th class="active">2013</th>
              <th class="active">2014</th>
              <th class="active">2015</th>
              <th class="active">2016</th>
              <th class="active">2017</th>
            </tr>
            <tr>
              <td class="info">预测误差</td>
              <td class="info">2.8%</td>
              <td class="info">3.3%</td>
              <td class="info">3.2%</td>
              <td class="info">2.0%</td>
              <td class="info">1.7%</td>
              <td class="info">4.4%</td>
              <td class="info">3.1%</td>
              <td class="info">2.7%</td>
              <td class="info">2.6%</td>
              <td class="info">2.8%</td>
              <td class="info">--</td>
              <td class="info">--</td>
              <td class="info">--</td>
            </tr>
          </table>
        </div>
        
       </div>
 <div >
          <div class="row" >
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px;font-size:100%">固定资产投资</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange=0">
                        <span class="num">{{ selectedRange}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange">
                        <div class="inner" ng-style="{ width: (selectedRange/2+50) + '%'}"></div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-2">
                    <input type="text" ng-model="selectedRange" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">财政支出</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange2=0">
                        <span class="num">{{selectedRange2}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange2">
                        <div class="inner" ng-style="{ width: (selectedRange2/2+50) + '%'}"></div>
                      </div>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <input type="text" ng-model="selectedRange2" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
           </div>

           <div class="row">
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">外贸进出口总额</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange3=0">
                        <span class="num">{{ selectedRange3}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange3">
                        <div class="inner" ng-style="{ width: (selectedRange3/2+50) + '%'}"></div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-2">
                    <input type="text" ng-model="selectedRange3" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">GDP</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="selectedRange4=0">
                        <span class="num">{{ selectedRange4}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="selectedRange4">
                        <div class="inner" ng-style="{ width: (selectedRange4/2+50) + '%'}"></div>
                      </div>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <input type="text" ng-model="selectedRange4" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
           </div>
  </div>
    </div>



 

    <div class="panel panel-primary">
      
      <div class="panel-heading">
          <div class="panel-title">
            月度税收收入分析预测
          </div>
      </div>

      <div class="row">

        <div class="col-md-8" style="border-right:1px solid">
          <highchart id="monthTaxChart"  config="monthTaxChart" />
        </div>
        <div class="col-md-4" style="padding:10px 30px 15px 15px">
      <div class="hbox bg-primary ">
              <div class="col wrapper">
                <span>下月税收预测值</span>
                <div class="h1 text-info font-thin" style="text-align:center;margin-top:10%">96.52</div>
              </div>
              <div class="col wrapper bg-info">
                <span>预测误差范围</span>
                <div class="h1 text-warning font-thin" style="margin-top:10%;text-align:center">3.0%</div>
              </div>
            </div>

          <button class="btn btn-primary" style="width:38%;margin-top:15%">一句话解读</button>
           <div style="margin-top:10px;width:98%;border:1px solid lightgrey;font-size:18px">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" >
              <strong>本年的税收增速较往年的增速有所放缓</strong>
            </span>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Left Align ">
            <button class="btn btn-success" style="margin-top:30px" ng-click="changeViews()">切换图标视图</button>
            <button class="btn btn-warning" style="margin-top:10px" ng-click="checkdeviation()">查看预测误差记录</button>
            <button class="btn btn-info" style="margin-top:10px" ng-click="checkforecast()">查看预测详情</button>
            <button class="btn btn-primary" style="margin-top:10px" ng-click="adjustParameter()">重置调节</button>
          </div>
        </div>
        <div class="col-md-12 " style="margin-top:10px" ng-if="forecast">
          <table class="table table-bordered" style="font-size:90%">
            <tr>
              <th class="active">月份</th>
              <th class="active">2月</th>
              <th class="active">3月</th>
              <th class="active">4月</th>
              <th class="active">5月</th>
              <th class="active">6月</th>
              <th class="active">7月</th>
              <th class="active">8月</th>
              <th class="active">9月</th>
              <th class="active">10月</th>
              <th class="active">11月</th>
              <th class="active">12月</th>
            </tr>
            <tr>
              <td class="info">税收真实值</td>
              <td class="info">181216</td>
              <td class="info">233015</td>
              <td class="info">333858</td>
              <td class="info">404789</td>
              <td class="info">490992</td>
              <td class="info">601972</td>
              <td class="info">651118</td>
              <td class="info">710585</td>
              <td class="info">818419</td>
              <td class="info">888181</td>
              <td class="info">--</td>
            </tr>
            <tr>
              <td class="info">税收预测值</td>
              <td class="info">193214</td>
              <td class="info">230005</td>
              <td class="info">336584</td>
              <td class="info">416214</td>
              <td class="info">523621</td>
              <td class="info">625314</td>
              <td class="info">688743</td>
              <td class="info">743214</td>
              <td class="info">813564</td>
              <td class="info">892314</td>
              <td class="info">965248</td>
            </tr>
          </table>
        </div>
        <div class="col-md-12" style="margin-top:10px" ng-if="deviation">
          <table class="table table-bordered" >
            <tr>
              <th class="active">月份</th>
              <th class="active">2月</th>
              <th class="active">3月</th>
              <th class="active">4月</th>
              <th class="active">5月</th>
              <th class="active">6月</th>
              <th class="active">7月</th>
              <th class="active">8月</th>
              <th class="active">9月</th>
              <th class="active">10月</th>
              <th class="active">11月</th>
              <th class="active">12月</th>
            </tr>
            <tr>
              <td class="info">预测误差</td>
              <td class="info">2.8%</td>
              <td class="info">3.3%</td>
              <td class="info">3.2%</td>
              <td class="info">2.0%</td>
              <td class="info">1.7%</td>
              <td class="info">4.4%</td>
              <td class="info">3.1%</td>
              <td class="info">2.7%</td>
              <td class="info">2.6%</td>
              <td class="info">2.8%</td>
              <td class="info">--</td>
            </tr>
          </table>
        </div>

      </div>
<div >
          <div class="row" >
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">固定资产投资</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange=0">
                        <span class="num">{{ monthselectedRange}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="monthselectedRange">
                        <div class="inner" ng-style="{ width: (monthselectedRange/2+50) + '%'}"></div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-2">
                    <input type="text" ng-model="monthselectedRange" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">财政支出</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange2=0">
                        <span class="num">{{ monthselectedRange2}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="monthselectedRange2">
                        <div class="inner" ng-style="{ width: (monthselectedRange2/2+50) + '%'}"></div>
                      </div>
                    </div>
                 </div>
                  <div class="col-md-2">
                    <input type="text" ng-model="monthselectedRange2" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
           </div>
           <div class="row">
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">外贸进出口总额</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange3=0">
                        <span class="num">{{ monthselectedRange3}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="monthselectedRange3">
                        <div class="inner" ng-style="{ width: (monthselectedRange3/2+50) + '%'}"></div>
                      </div>
                    </div>

                  </div>
                   <div class="col-md-2">
                    <input type="text" ng-model="monthselectedRange3" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
                  <div class="col-md-1">
                    <p class="handler-title" style="margin-top:15px">GDP</p>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-box" >
                      <div class="percentage-cur" ng-init="monthselectedRange4=0">
                        <span class="num">{{ monthselectedRange4}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-slider" style="width:100%">
                        <input class="progress-slider" type="range" min="-100" max="100" ng-model="monthselectedRange4">
                        <div class="inner" ng-style="{ width: (monthselectedRange4/2+50) + '%'}"></div>
                      </div>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <input type="text" ng-model="monthselectedRange4" style="width:60%;margin-top:15px;" pattern="((-)?[0-9]{1,2}|100|-100)"/>
                  </div>
           </div>
  </div>
    </div>

