
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col w  dk b-r bg-auto second_nav_gray">
    <div class="panel no_border" draggable="true">
        
        <div class="list-group" ng-if="true">
          <li ui-sref="app.index.student-reservation({title:'GDP'})" class="list-group-item second_nav_body">
            <a>GDP预测分析</a>
          </li>
          <li ui-sref="app.index.student-reservation({title:'tax'})" class="list-group-item second_nav_body">
            <a>税收预测分析</a>
          </li>
        </div>
        <div class="list-group" ng-if="true">
          <li ui-sref="app.index.teacher-reservation({title:'keqiang'})" class="list-group-item second_nav_body">
            <a>克强指数分析</a>
          </li>
          <li ui-sref="app.index.teacher-reservation({title:'company'})" class="list-group-item second_nav_body">
            <a>企业用电量与经济增长关联分析</a>
          </li>
          
        </div>
      </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>
