<div class="vbox">
    <div class="wrapper lter b-b bg-white">
      <div class="subview3_title">密码修改</div>
</div>

<div class="wrapper bg-white">
  <form name="forma" class="form-horizontal form-validation ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-url ng-valid-pattern ng-valid-validator ng-valid-blacklist">
          <div class="panel panel-default">
          
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-3 control-label">旧密码</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" placeholder="email" ng-model="g.a" required="" aria-required="true" aria-invalid="true">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">新密码</label>
                <div class="col-sm-9">
                  <input type="url" class="form-control ng-pristine ng-untouched ng-valid-url ng-invalid ng-invalid-required" placeholder="http://" ng-model="g.b" required="" aria-required="true" aria-invalid="true">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">确认新密码</label>
                <div class="col-sm-9">
                  <input type="url" class="form-control ng-pristine ng-untouched ng-valid-url ng-invalid ng-invalid-required" placeholder="http://" ng-model="g.b" required="" aria-required="true" aria-invalid="true">
                </div>
              </div>
            <footer class="panel-footer text-right bg-light lter">
              <button type="submit" class="btn btn-success">确认修改</button>
            </footer>
          </div>
        </form>
</div>
