.vbox >.space-top{
	margin-top: 3em;
	border:2px solid #428bca;
	padding-top: 0px;
	padding-bottom:0px;
	margin-bottom: 2em;
}
.topbar{
	margin: 0px;
	background-color: #428bca;
	padding: 0.5em 1em;
}
.chartshow{
	padding: 2em;
}
.menustructer{
	border-left: 1px solid #428bca;
	height: 300%;
	padding-left: 0;
	padding-right: 0;
}
.cgq_title{
	color: white;
	font-size: 1.5em;
}
.cgq_bg-lightyellow{
	text-align: center;
	background-color: rgb(260,214,40);
}
.cgq_bg-lightgreen{
	text-align: center;
	background-color: rgb(100,214,40);
}
.margintopbotom1em{
	margin-top: 1em;
	margin-bottom: 1em;
}
.marginbotom1em{
	margin-bottom: 1em;
}
.cgq_marginaround1em{
	margin: 0.5em;
}
.marginleft1em{
	margin-left:5%;
}
.marginleft1-5em{
	margin-left:1.3em;
}
.paddingmargin0em{
	margin: 0;
	padding: 0;
}
.padding0em{
	margin-top: 0;
	padding: 0;
	border:2px solid #428bca;
}
.cgq_fixedwidth{
	width:110%;
}
.cgq_botomline{
	border-bottom: 1px solid #428bca;
	padding-bottom: 0.6em;
	margin-bottom: 0.3em;
}
.cgq_menustructer{
	padding: 0.6em 0;
	border-left:1px solid #428bca;
	margin-bottom: 0em;
	height: 100%;
}
.cgq_paddingtop1em{
	padding-top: 0.7em;
}
.cgq_botomdashed{
	border-bottom: 1px dashed #428bca;
	padding-bottom: 0.6em;
	margin-bottom: 0.3em;	
}
.cgq_relativeposition{
	position: relative;
}
.cgq_fontsize{
	font-size: 90%;
}
.cgq_contentwidth{
	width:95%;
}
.cgq_fixedwidth12{
	width: 33.5%
}
.CGQ_marginleft1_5em{
	margin-left: 1.2em;
}
#consumptionbyenterprise {width:100%; height: 300px; }
.cgq_margintop2em{
	margin-top: 2em;
}
.cgq_marginaround1em-top{
	margin: 0 4% 4% 4%;
}
.cgq-fixed-buttonwidth{
	width: 8em
}
.cgq-clearsidepadding{
	padding-left: 0;
	padding-right: 0;
}
.cgq-paddingaround0.5em{
	padding: 0.5em;
}
.cgq-chartroundmargin{
	margin:1em;
}
.cgq-dashedborder{
	border:dashed 1px lightblue;
}

.cgq-wrap {
  display: block;
  padding: 0 15px 20px 15px;
  margin-bottom: 1em;
  margin-top: 1em;
  border-color: #dee5e7;
  border-style: solid;
  border-width: 0 0 4px 0;
}

.cgq-wrap:before,
.cgq-wrap:after {
  display: table;
  content: " ";
}

.cgq-wrap:after {
  clear: both;
}

.cgq-wrap:before {
  position: relative;
  top: 47px;
  left: 27px;
  width: 15px;
  height: 15px;
  margin-bottom: -27px;
  background: #edf1f2;
  border-color: inherit;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  content: "";
  box-shadow: 0 0 4px 0 #f0f3f4;
}

.cgq-wrap:hover:before {
  background: #ffffff;
  border-color: grey;
}
.amap-marker-label{
	 color: rgb(170,204,104);
    padding: 6px 10px;
    border: 2px solid rgb(170,204,104);
    white-space: nowrap;
    font-size: 16px;
    font-family: "微软雅黑";

    background-color: rgba(255,255,255,1);
    border-radius: 10px;
}
.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}      
.amap-copyright {
    right: 0 !important;
    left: auto !important;
    display: none;
} 






